<div class="reiewscardmaindiv">
  <div class="reiewscarddiv">
    <div class="namediv">
      <div class="userdiv">
        <div class="usernamediv">
          <h3>Ellise</h3>
          <div class="date">
            <span>September 2022</span>
          </div>
        </div>
        <div class="userimgdiv">
          <a href="">
            <div>
              <div>
                <img src="../../../assets/img/hotelpage/rew/user1.webp" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="reiwetext">
      <span>A unique experience staying in a guitar shaped house! The apartment is comfortable and well equipped with all you need for a short stay. </span>
    </div>
  </div>
</div>
