<section>
  <div class="main">
    <div class="head">
      <h2>Things to know</h2>
    </div>
    <div class="containetmandiv">
      <div class="rulesmaindiv">
        <div>
          <p>House rules</p>
          <ul>
            <li>
              <div>
                <div><i class='bx bxs-time-five'></i></div>
                <span>Check-in: After 2:00 pm</span>
              </div>
            </li>
            <li>
              <div>
                <div><i class='bx bxs-time-five'></i></div>
                <span>Check out: 11:00 am</span>
              </div>
            </li>
          </ul>
          <div class="showmorebtn">
            <button >
              <span>
              <span class="text">Show more</span><span><i class='bx bx-chevron-right'></i></span>
            </span>
            </button>
          </div>
        </div>
      </div>
      <div class="rulesmaindiv">
        <div>
          <p>Health & safety</p>
          <ul>
            <li>
              <div>
                <div><i class='bx bx-question-mark'></i></div>
                <span>Carbon monoxide alarm not reported <a href="">show more</a> </span>
              </div>
            </li>
            <li>
              <div>
                <div><i class='bx bx-question-mark'></i></div>
                <span>Smoke alarm not reported<a href="">show more</a> </span>
              </div>
            </li>
          </ul>
          <div class="showmorebtn">
            <button >
              <span>
              <span class="text">Show more</span><span><i class='bx bx-chevron-right'></i></span>
            </span>
            </button>
          </div>
        </div>
      </div>
      <div class="rulesmaindiv">
        <div>
          <p>Cancellation policy</p>
          <ul>
            <li>
              <div>
                <span>Cancel before 30 Oct for a partial refund.</span>
              </div>
            </li>
            <li>
              <div>
                <span>Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.</span>
              </div>
            </li>
          </ul>
          <div class="showmorebtn">
            <button >
              <span>
              <span class="text">Show more</span><span><i class='bx bx-chevron-right'></i></span>
            </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
