.nowishlistmaindiv{
  margin: 36px 0 24px;
  .wishlistheadingdiv{
    margin-bottom: 36px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      color: rgb(34, 34, 34);
    }
  }
  .wishlistcondiv{
    margin-top: 32px;
    max-width: 496px;
    h2{
      font-size: 1em;
      margin: 0;
      padding: 0;
      div{
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        color: rgb(34, 34, 34);
      }
    }
    p{
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: rgb(113, 113, 113);
      margin-top: 24px;
    }
  }
}
