<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="wishlistmaindiv">
        <div class="wishlistheadingdiv">
          <h1>Wishlists</h1>
        </div>
        <div class="nowishlistcondiv" style="display: none;">
          <section>
            <h2>
              <div>Create your first wishlist</div>
            </h2>
            <p>As you search, tap the heart icon to save your favourite places to stay or things to do to a wishlist.
            </p>
          </section>
        </div>
        <div class="imgcollotionmaindiv" data-aos="fade-up" data-aos-duration="1300">
          <ul>
            <li>
              <a href="">
                <div class="cardmaindiv">
                  <div class="cardimgmaindiv">
                    <div class="mainimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/hotelpage/hotelimg/1.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="subimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/1.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="bottomimg">
                      <div>
                        <picture>
                          <img src="../../../assets/img/hotelpage/hotelimg/3.webp" alt="">
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="cardtextmaindiv">
                    <div>Seaview Malaiwana</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="cardmaindiv">
                  <div class="cardimgmaindiv">
                    <div class="mainimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/2.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="subimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/hotelpage/hotelimg/2.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="bottomimg">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/3.webp" alt="">
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="cardtextmaindiv">
                    <div>Villa Chan Grajang</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <div class="cardmaindiv">
                  <div class="cardimgmaindiv">
                    <div class="mainimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/4.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="subimgdiv">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/5.webp" alt="">
                        </picture>
                      </div>
                    </div>
                    <div class="bottomimg">
                      <div>
                        <picture>
                          <img src="../../../assets/img/show more/6.webp" alt="">
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="cardtextmaindiv">
                    <div>Laemsingh Villa</div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="phoneimgcollotionmain">
          <div class="wishlistscarddiv">
            <a href="">
              <div class="carddiv">
                <div class="boxdiv">
                  <div class="boximgmaindiv">
                    <div>
                      <img src="../../../assets/img/hotelpage/hotelimg/1.webp" alt="">
                    </div>
                  </div>
                  <div class="boxtextmandiv">
                    <div class="textdiv">
                      <div>s</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="wishlistscarddiv">
            <a href="">
              <div class="carddiv">
                <div class="boxdiv">
                  <div class="boximgmaindiv">
                    <div>
                      <img src="../../../assets/img/hotelpage/hotelimg/1.webp" alt="">
                    </div>
                  </div>
                  <div class="boxtextmandiv">
                    <div class="textdiv">
                      <div>s</div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer">
  <app-phhomefooter></app-phhomefooter>
</div> -->
