<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="userdatamainsection">
        <div class="usernamemaindiv">
          <div class="usernamediv">
            <h1 class="htagclass">
              <div>Account</div>
            </h1>
            <div class="userdatadiv">
              <span class="usernamespan">Shibin Cp ,</span>
              <span> cpshibinoppo@gmail.com · </span>
              <a href="">Go to profile</a>
            </div>
          </div>
        </div>
        <div class="userinfocardmaindvi">
          <div class="useringocarddiv">
            <div class="cardsmaindiv">
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/userinfo.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Personal info</div>
                      <div class="subtext">Personal personal details and how we can reach you</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/Security.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Login & security</div>
                      <div class="subtext">Update your password and secure your account</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/Payments.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Payments & payouts</div>
                      <div class="subtext">Review payments, payouts, coupons, gift cards, and taxes</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/Notifications.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Notifications</div>
                      <div class="subtext">Choose notification preferences and how you want to be contacted</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/Privacy.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Privacy & sharing</div>
                      <div class="subtext">Control connected apps, what you share, and who sees it</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/Global.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Global preferences</div>
                      <div class="subtext">Set your default language, currency, and timezone</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/travel.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Travel for work</div>
                      <div class="subtext">Add a work email for business trip benefits</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/tools.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Professional hosting tools</div>
                      <div class="subtext">Get professional tools if you manage several properties on Airbnb</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="cardmaindiv">
                <a href="">
                  <div class="cardconmaindiv">
                    <div class="cardimgdiv">
                      <img src="../../../assets/img/user/coupons.svg" alt="">
                    </div>
                    <div class="cardtextmaindiv">
                      <div class="maintext">Referral credit & coupons</div>
                      <div class="subtext">Your referral credits and coupon balance is ₹0. Learn more.</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="takecaremaindiv">
          <div class="takecarediv">
            <div class="topdiv">
              <div>Need to deactivate your account?</div>
            </div>
            <a href="">Take care of that now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footersectionmain py-3">
  <div class="container">
    <app-footer></app-footer>
  </div>
</section>
