<div class="maindiv">
  <div class="formmaindiv">
    <div class="topmaindiv">
      <div class="heading">
        <h2>Does your place have any of these?</h2>
        <div class="infodiv">
          <button>
            <span>
              <img src="../../../../assets/img/host/infoicon.svg" alt="" />
            </span>
          </button>
        </div>
      </div>
      <div class="checkboxlistingmaindiv">
        <div class="listdiv">
          <div class="listcarddiv">
            <label>
              <div class="listcard">
                <div class="cardtextdiv">
                  <div>Security camera(s)</div>
                </div>
                <div class="checkboxdiv">
                  <span class="checkboxmainspan">
                    <input type="checkbox" name="" id="" />
                    <span class="checkboxspan"></span>
                  </span>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="listdiv">
          <div class="listcarddiv">
            <label>
              <div class="listcard">
                <div class="cardtextdiv">
                  <div>Weapons</div>
                </div>
                <div class="checkboxdiv">
                  <span class="checkboxmainspan">
                    <input type="checkbox" name="" id="" />
                    <span class="checkboxspan"></span>
                  </span>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="listdiv">
          <div class="listcarddiv">
            <label>
              <div class="listcard">
                <div class="cardtextdiv">
                  <div>Dangerous animals</div>
                </div>
                <div class="checkboxdiv">
                  <span class="checkboxmainspan">
                    <input type="checkbox" name="" id="" />
                    <span class="checkboxspan"></span>
                  </span>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="bottommiandiv">
      <div class="headingdiv">
        <h2>Important things to know</h2>
      </div>
      <div class="linksmaindiv">
        <span class="linksmainspan">
          Be sure to comply with your
          <span><a href="">local laws</a></span>
          and review Airbnb's
          <span> <a href="">nondiscrimination policy</a> </span>
          and
          <span><a href="">guest and Host fees</a></span>
          . Update your
          <span><a href="">cancellation policy</a></span>
          after you publish.
        </span>
      </div>
    </div>
  </div>
</div>
