<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 videocol">
        <div class="sectionone">
          <div class="logo logomaindiv">
            <a href="">
              <span>
                <img
                  src="../../../assets/img/host/logo.png"
                  alt=""
                />
              </span>
            </a>
          </div>
          <div class="closebtnmaindiv logo">
            <button>
              <span>
                <img src="../../../assets/img/host/clolseicon.svg" alt="" />
              </span>
            </button>
          </div>
          <div class="videomiandiv">
            <div>
              <video
                autoplay
                crossorigin="anonymous"
                playsinline
                preload="auto"
                id="my_video_1"
                src="https://a0.muscache.com/v/8b/04/8b0456c7-13f8-54bc-889a-7cf549f144a3/8b0456c713f854bc889a7cf549f144a3_4000k_1.mp4?imformat=h265"
                type="video/mp4"
              ></video>
            </div>
            <div class="linerdiv"></div>
            <div class="playbuttondivmain">
              <div class="playbuttondiv">
                <span>
                  <button>
                    <div class="videobtntext">
                      <div>Play full video</div>
                    </div>
                    <div class="playicon">
                      <img
                        src="../../../assets/img/host/hostindroducion/playicon.svg"
                        alt=""
                      />
                    </div>
                  </button>
                </span>
                <button class="platbutton" (click)="playPause()">
                  <span>
                    <img
                      *ngIf="!this.playicon"
                      src="../../../assets/img/host/hostindroducion/playicon.svg"
                      alt=""
                    />
                    <img
                      *ngIf="this.playicon"
                      src="../../../assets/img/host/hostindroducion/pauseicon.svg"
                      alt=""
                    />
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 textmaincol">
        <div class="exitbuttondiv">
          <button>
            <div>Exit</div>
          </button>
        </div>
        <div class="textmainsection">
          <div class="textmaindiv">
            <div class="textdiv">
              <h1>Become a Host in 10 easy steps</h1>
              <div class="subtextdiv">
                <span>Join us. We'll help you every step of the way.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="gobuttonmaindiv">
          <div class="gobuttondiv">
            <div class="gobutton">
              <button (click)="buttonlink()">
                <span>Let's go!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
