<section class="navbarsection">
  <app-navbar></app-navbar>
</section>
<section>
  <nav>
    <div class="navmaindiv">
      <div class="homediv">
        <a href="">
          <div class="homesection">
            <div class="imgdiv">
              <img src="assets/img/hotelpage/sidearrow.svg" alt="">
            </div>
            <div>
              <div>Homes</div>
            </div>
          </div>
        </a>
      </div>
      <div class="senddiv">
        <div class="sendbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/sendicon.svg" alt="">
            </span>
          </button>
        </div>
        <div class="heartbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/hearticon.svg" alt="">
            </span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</section>
<section>

</section>
