/* navbar start */
nav {
  display: none;
  .navmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgb(235, 235, 235);
    .homediv {
      a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        padding: 8px;
        line-height: var(--lineheight);
        margin: 0px -8px;
        .homesection {
          display: flex;
          align-items: center;
          padding: 0px 8px;
          letter-spacing: 0.5px;
          .imgdiv {
            padding-right: 8px;
            img {
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 4;
              overflow: visible;
            }
          }
        }
      }
    }
    .senddiv {
      display: flex;
      padding-top: 6px;
      padding-left: 8px;
      padding-right: 8px;
      .sendbtn {
        margin-right: 20px;
        button {
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          color: var(--text-color);
          span {
            img {
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 2;
              overflow: visible;
            }
          }
        }
      }
      .heartbtn {
        button {
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          color: var(--text-color);
          span {
            img {
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 2;
              overflow: visible;
            }
          }
        }
      }
    }
  }
}
/* navbar end */
/* header start */
.header {
  .headrmaintextdiv {
    color: var(--text-color);
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 20px;
    span {
      font-size: 26px;
      line-height: 30px;
      font-weight: 500;
      h1 {
        color: inherit;
        font-size: 1em;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
  .headresubtextdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headersubtext {
      display: flex;
      flex-wrap: wrap;
      .hearmainspan {
        margin-top: 4px;
        align-items: center;
        display: inline-flex;
        .headtextspan {
          line-height: 20px;
          color: rgb(34, 34, 34);
          font-size: 14px;
          font-weight: 600;
        }
        .headbtnspan {
          color: rgb(34, 34, 34);
          font-size: 14px;
          line-height: 20px;
          padding-left: 4px;
          font-weight: 600;
          button {
            border: none;
            background: transparent;
            outline: none;
            padding: 0;
            margin: 0;
            text-decoration: underline;
            font-weight: 500;
          }
        }
      }
      .dotspan {
        color: rgb(113, 113, 113);
        margin: 8px 8px 0px;
      }
    }
  }
}
.superhostspan {
  font-weight: 400 !important;
}
.headratingspan {
  font-weight: 500;
}
.testiconspan {
  min-width: 14px;
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
}
.sharemaindiv {
  height: 28px;
  .shareandsavediv {
    display: flex;
    .sharediv {
      margin-right: 20px;
      button {
        margin: 0px -8px;
        font-size: 14px;
        font-weight: 500;
        line-height: var(--lineheight);
        background: transparent;
        outline: none;
        border: none;
        padding: 8px;
        div {
          display: flex;
          align-items: center;
          text-decoration: underline;
          span {
            margin-right: 8px;
            img {
              display: block;
              fill: none;
              height: 16px;
              width: 16px;
              stroke: currentcolor;
              stroke-width: 2;
              overflow: visible;
            }
          }
        }
      }
    }
  }
}
/* header end */
/* image collection start */
.collectionmaindiv {
  width: 100%;
  max-height: 330px;
  height: 330px;
  min-height: 297px;
  overflow-y: hidden;
  position: relative;
  border-radius: 12px;
  .collectionimgdiv {
    width: 100%;
    height: 100%;
    .startimgdiv {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .centerimgdiv {
      position: absolute;
      top: 0;
      left: 50%;
      width: 25%;
      height: 50%;
      div {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .endimgdiv {
      position: absolute;
      top: 0;
      right: 0;
      width: 25%;
      height: 50%;
      div {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    button {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      outline: none;
      text-align: left;
      position: relative;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      display: none;
      z-index: 200;
      transition: all 0.25s ease;
    }
    button:hover {
      .overlay {
        display: block;
        background-color: black;
      }
    }
  }
}
.showmorediv {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 3;
  button {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: var(--lineheight);
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    color: var(--text-color);
    background: var(--white);
    padding: 7px 15px;
    border: 1px solid var(--text-color);
    div {
      display: flex;
      align-items: center;
      div {
        margin-left: 8px;
      }
      img {
        display: block;
        height: 16px;
        width: 16px;
        fill: currentcolor;
      }
    }
  }
}
/* image collection end */
@media only screen and (max-width: 600px) {
  .navbarsection {
    display: none;
  }
  nav {
    display: block;
  }
  .header {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .navbarsection {
    display: none;
  }
  nav {
    display: block;
  }
  .header {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .navbarsection {
    display: block;
  }
  nav {
    display: none;
  }
  .header {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
