<section class="navbarsection">
  <app-navbar></app-navbar>
</section>
<section>
  <nav>
    <div class="navmaindiv">
      <div class="homediv">
        <a href="">
          <div class="homesection">
            <div class="imgdiv">
              <img src="assets/img/hotelpage/sidearrow.svg" alt="">
            </div>
            <div>
              <div>Homes</div>
            </div>
          </div>
        </a>
      </div>
      <div class="senddiv">
        <div class="sendbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/sendicon.svg" alt="">
            </span>
          </button>
        </div>
        <div class="heartbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/hearticon.svg" alt="">
            </span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</section>
<div class="container">
  <section>
    <div class="header pt-4">
      <div class="headrmaintextdiv">
        <span>
          <h1>River Tree Duplex-Riverside plantation TreehouseAC</h1>
        </span>
      </div>
      <div class="headresubtextdiv">
        <div class="headersubtext">
          <span class="hearmainspan">
            <span><i class='bx bxs-star'></i></span>
            <span class="headratingspan">4.97 ·</span>
            <span class="headbtnspan"><button>88 reviews</button></span>
          </span>
          <span class="dotspan">·</span>
          <span class="hearmainspan">
            <span class="testiconspan"><img width="12px" height="20px" src="../../../assets/img/testicon.jpg"
                alt=""></span>
            <span class="headbtnspan superhostspan">Superhost</span>
          </span>
          <span class="dotspan">·</span>
          <span class="hearmainspan">
            <span class="headbtnspan">
              <button>
                Kottathara, Kerala, India
              </button>
            </span>
          </span>
        </div>
        <div class="sharemaindiv">
          <div class="shareandsavediv">
            <div class="sharediv">
              <button>
                <div>
                  <span><img src="../../../assets/img/hotelpage/sendicon.svg" alt=""></span>
                  Share
                </div>
              </button>
            </div>
            <div class="sharediv">
              <button>
                <div>
                  <span><img src="../../../assets/img/hotelpage/hearticon.svg" alt=""></span>
                  Save
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-4">
    <div class="collectionmaindiv ">
      <div class="collectionimgdiv">
        <div class="startimgdiv">
          <button>
            <img src="../../../assets/img/hotelpage/hotelimg/1.webp" alt="">
            <div class="overlay"></div>
          </button>
        </div>
        <div class="centerimgdiv px-2">
          <div>
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/2.webp" alt="">
            <div class="overlay"></div>
            </button>
          </div>
          <div class="pt-2">
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/3.webp" alt="">
            <div class="overlay"></div>
            </button>
          </div>
        </div>
        <div class="endimgdiv">
          <div>
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/4.webp" alt="">
            <div class="overlay"></div>
            </button>
          </div>
          <div class="pt-2">
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/5.webp" alt="">
            <div class="overlay"></div>
            </button>
          </div>
        </div>
      </div>
      <div class="showmorediv">
        <button>
          <div><img src="../../../assets/img/hotelpage/doticon.svg" alt="">
            <div>Show all photos</div>
          </div>
        </button>
      </div>
    </div>
  </section>
</div>
