<section class="navbarsection">
  <app-navbar></app-navbar>
</section>
<section>
  <nav>
    <div class="navmaindiv">
      <div class="homediv">
        <a href="">
          <div class="homesection">
            <div class="imgdiv">
              <img src="assets/img/hotelpage/sidearrow.svg" alt="">
            </div>
            <div>
              <div>Homes</div>
            </div>
          </div>
        </a>
      </div>
      <div class="senddiv">
        <div class="sendbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/sendicon.svg" alt="">
            </span>
          </button>
        </div>
        <div class="heartbtn">
          <button>
            <span>
              <img src="../../../assets/img/hotelpage/hearticon.svg" alt="">
            </span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</section>
<div class="container topcontainer">
  <section>
    <div class="header pt-4">
      <div class="headrmaintextdiv">
        <span>
          <h1>River Tree Duplex-Riverside plantation TreehouseAC</h1>
        </span>
      </div>
      <div class="headresubtextdiv">
        <div class="headersubtext">
          <span class="hearmainspan">
            <span><i class='bx bxs-star'></i></span>
            <span class="headratingspan">4.97 ·</span>
            <span class="headbtnspan"><button>88 reviews</button></span>
          </span>
          <span class="dotspan">·</span>
          <span class="hearmainspan">
            <span class="testiconspan"><img width="12px" height="20px" src="../../../assets/img/testicon.jpg"
                alt=""></span>
            <span class="headbtnspan superhostspan">Superhost</span>
          </span>
          <span class="dotspan">·</span>
          <span class="hearmainspan">
            <span class="headbtnspan">
              <button>
                Kottathara, Kerala, India
              </button>
            </span>
          </span>
        </div>
        <div class="sharemaindiv">
          <div class="shareandsavediv">
            <div class="sharediv">
              <button>
                <div>
                  <span><img src="../../../assets/img/hotelpage/sendicon.svg" alt=""></span>
                  Share
                </div>
              </button>
            </div>
            <div class="sharediv">
              <button>
                <div>
                  <span><img src="../../../assets/img/hotelpage/hearticon.svg" alt=""></span>
                  Save
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="collectionmaindiv pt-4 ">
      <div class="collectionimgdiv">
        <div class="startimgdiv">
          <button>
            <img src="../../../assets/img/hotelpage/hotelimg/1.webp" alt="">
            <div class="overlay"></div>
          </button>
        </div>
        <div class="centerimgdiv px-2">
          <div>
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/2.webp" alt="">
              <div class="overlay"></div>
            </button>
          </div>
          <div class="pt-2">
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/3.webp" alt="">
              <div class="overlay"></div>
            </button>
          </div>
        </div>
        <div class="endimgdiv">
          <div>
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/4.webp" alt="">
              <div class="overlay"></div>
            </button>
          </div>
          <div class="pt-2">
            <button>
              <img src="../../../assets/img/hotelpage/hotelimg/5.webp" alt="">
              <div class="overlay"></div>
            </button>
          </div>
        </div>
      </div>
      <div class="showmorediv">
        <button>
          <div><img src="../../../assets/img/hotelpage/doticon.svg" alt="">
            <div>Show all photos</div>
          </div>
        </button>
      </div>
    </div>
  </section>
</div>
<section>
  <div class="slidermaindiv">
    <div class="phnavbarmaindiv">
      <div class="phsidearrodiv">
        <a class="phbtnslider" href="">
          <img src="../../../assets/img/hotelpage/sidearrow.svg" alt="">
        </a>
      </div>
      <div class="phsenddiv">
        <div class="phsendicon">
          <button class="phbtnslider">
            <img src="../../../assets/img/hotelpage/sendicon.svg" alt="">
          </button>
        </div>
        <div class="phhearticon">
          <button class="phbtnslider">
            <img src="../../../assets/img/hotelpage/hearticon.svg" alt="">
          </button>
        </div>
      </div>
    </div>
    <swiper class="mySwiper" [pagination]="{type: 'fraction'}">
      <ng-template swiperSlide>
        <div class="siderimgdiv">
          <button>
            <img width="100%" height="100%" src="../../../assets/img/hotelpage/hotelimg/1.webp" alt=""
              style="object-fit: cover;">
          </button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="siderimgdiv">
          <button>
            <img width="100%" height="100%" src="../../../assets/img/hotelpage/hotelimg/2.webp" alt=""
              style="object-fit: cover;">
          </button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="siderimgdiv">
          <button>
            <img width="100%" height="100%" src="../../../assets/img/hotelpage/hotelimg/3.webp" alt=""
              style="object-fit: cover;">
          </button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="siderimgdiv">
          <button>
            <img width="100%" height="100%" src="../../../assets/img/hotelpage/hotelimg/4.webp" alt=""
              style="object-fit: cover;">
          </button>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="siderimgdiv">
          <button>
            <img width="100%" height="100%" src="../../../assets/img/hotelpage/hotelimg/5.webp" alt=""
              style="object-fit: cover;">
          </button>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
<section class="pt-5">
  <div class="container{{this.container}} centercontainer" style="padding-bottom: 3rem;">
    <div class="row justify-content-between">
      <div class="col-12 col-md-7 col-lg-7">
        <div class="hosternamemaindiv">
          <div class="hosternamediv">
            <div class="hostername">
              <h2>Treehouse hosted by &nbsp; Ajesh</h2>
            </div>
            <ol>
              <li>
                <span>5 guests</span>
              </li>
              <li>
                <span class="ps-2"> · </span>
                <span>1 bedroom</span>
              </li>
              <li>
                <span class="ps-2"> · </span>
                <span>2 beds</span>
              </li>
              <li>
                <span class="ps-2"> · </span>
                <span>1 bathroom</span>
              </li>
            </ol>
          </div>
          <div class="hosterimgmiandiv">
            <div class="hoterimagediv">
              <button>
                <div>
                  <div class="imgdiv">
                    <img src="../../../assets/img/hotelpage/hosterimg/hoserimg.jpg" alt="">
                  </div>
                </div>
              </button>
              <div class="subsimgmaindiv">
                <img src="../../../assets/img/hotelpage/presentation.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="speckmaindiv">
          <div class="listmaindiv">
            <div class="imgdiv">
              <img src="../../../assets/img/hotelpage/hotelfu/1.svg" alt="">
            </div>
            <div class="listtext">
              <div class="maintext">Dedicated workspace</div>
              <div class="subtext">A private room with wifi that’s well suited for working.</div>
            </div>
          </div>
          <div class="listmaindiv">
            <div class="imgdiv">
              <img src="../../../assets/img/hotelpage/hotelfu/2.svg" alt="">
            </div>
            <div class="listtext">
              <div class="maintext">Self check-in</div>
              <div class="subtext">Check yourself in with the lockbox.</div>
            </div>
          </div>
          <div class="listmaindiv">
            <div class="imgdiv">
              <img src="../../../assets/img/hotelpage/hotelfu/3.svg" alt="">
            </div>
            <div class="listtext">
              <div class="maintext">Free cancellation before 2:00 pm on 20 Oct.</div>
              <div class="subtext"></div>
            </div>
          </div>
        </div>
        <div class="aircoverdivmian">
          <div class="aircoverdiv">
            <h2><img src="../../../assets/img/hotelpage/aircover.webp" alt=""></h2>
            <div>Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues
              like trouble checking in.</div>
            <button>Learn more</button>
          </div>
        </div>
        <div class="aircoverdivmian">
          <div class="aircoverdiv">
            <div>Our duplex treehouse is build at 35feet height, which is on an organic plantation at the banks of
              Kabani river.<br>It’s in two levels; bottom level having bedroom, bathroom and a terrace. Upper level is
              the space for a tiny lounge with a river view or can be used as bed for additional guests.</div>
            <button>
              <span class="showmorespan">
                <span>Show more</span>
                <span class="showmoreimgdiv"><img src="../../../assets/img/hotelpage/sidearrow.svg" alt=""></span>
              </span>
            </button>
          </div>
        </div>
        <div class="whereyousleepmaindiv">
          <section>
            <div class="textdiv">
              <h2>
                Where you'll sleep
              </h2>
            </div>
            <div class="imgsection pt-4">
              <div>
                <button>
                  <img src="../../../assets/img/hotelpage/hotelimg/6.webp" alt="">
                </button>
              </div>
              <div class="imgtext">
                <div class="maintext">Bedroom</div>
                <div class="subtext">2 king beads,3 hammocks</div>
              </div>
            </div>
          </section>
        </div>
        <div class="placeoffermaindiv">
          <div class="placeofferdiv">
            <div class="headtext">
              <h2>What this place offers</h2>
            </div>
            <div class="listmaindiv pt-3">
              <div class="list">
                <div>
                  <div class="listtext">River view</div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/1.svg" alt="1"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext"> <del> Carbon monoxide alarm </del></div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/6.svg" alt="2"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext">Security cameras on property</div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/3.svg" alt="3"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext">Dedicated workspace</div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/2.svg" alt="4"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext">Free parking on premises</div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/5.svg" alt="5"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext"><del>Smoke alarm</del></div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/4.svg" alt="6"></div>
                </div>
              </div>
              <div class="list">
                <div>
                  <div class="listtext">Wifi</div>
                  <div class="imgdiv"><img src="../../../assets/img/hotelpage/placeoffer/7.svg" alt="7"></div>
                </div>
              </div>
            </div>
            <div class="listshowall">
              <button>Show all 58 amenities</button>
            </div>
          </div>
        </div>
        <div class="whereyousleepmaindiv accfeamaindiv" sty>
          <section>
            <div class="textdiv">
              <h2>
                Accessibility features
              </h2>
            </div>
            <div class="subtexthead">This info was provided by the Host and reviewed by Airbnb.</div>
            <div class="imgsection pt-4">
              <div>
                <button>
                  <img src="../../../assets/img/hotelpage/acc/1.webp" alt="">
                </button>
              </div>
              <div class="imgtext">
                <div class="maintext">Guest entrance and parking</div>
                <div class="subtext">Lit path to the guest entrance</div>
              </div>
            </div>
            <div class="listshowallfea">
              <button>Show all feature details</button>
            </div>
          </section>
        </div>
      </div>
      <div class="col-4 col-md-5 col-lg-4 pricecol">
        <section>
          <div class="pricelistmaindiv">
            <div class="pricelistdiv">
              <div class="checkinmaindiv">
                <div class="checkinpricediv">
                  <div class="price">
                    <span class="pastprice">₹6,035</span>
                    <span class="curruntprice">₹6,035</span>
                    <span class="pricetext">night</span>
                  </div>
                  <div class="reviews">
                    <span class="starspan"><i class='bx bxs-star'></i></span>
                    <span class="reviewstext">4.97 ·</span>
                    <span class="rewiewbtn">
                      <button>
                        <span>88 reviews</span>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="pricedatamaindiv">
                  <div>
                    <div class="checkinandoutmiandiv">
                      <button>
                        <div class="checkindiv">
                          <div class="text">Check-in</div>
                          <div class="datetext">10/30/2022</div>
                        </div>
                        <div class="checkoutdiv">
                          <div class="text">Check-out</div>
                          <div class="datetext">10/30/2022</div>
                        </div>
                      </button>
                    </div>
                    <div class="gustdiv">
                      <button>
                        <div class="gust">
                          <div>
                            <div class="text">Guests</div>
                            <div class="datetext">1 guest</div>
                          </div>
                          <div class="drowpdownicon">
                            <i class='bx bx-chevron-down'></i>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
