<section>
  <div class="mapmainsection">
    <div class="headtextmaindiv">
      <h2>Where you’ll be</h2>
    </div>
    <div class="mapmaindiv">
      <app-mapcom></app-mapcom>
    </div>
    <div class="subtextmain">
      <div class="textmain">
        <h3>Kasauli, Himachal Pradesh, India</h3>
      </div>
      <div class="subtext">
        <span>
          Kasauli, a cantonment town, is one of the most popular hill stations in Himachal Pradesh. It is often described as a hiker’s paradise, surrounded by lush greenery and majestic mountains. So, while you’re enjoying your peaceful stay at this property, here are a few nearby places and activities we recommend to make your stay even more memorable.
          <br>
          - Take a tour to Kasauli Brewery where you can explore the process of Whiskey production and taste a sample of distilled whiskey.
        </span>
      </div>
      <div class="buttonmaindiv">
        <button>
          <span>
            <span class="btntext">Show more</span>
            <span class="btnicon">
              <i class='bx bx-chevron-right'></i>
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
