<section>
  <div class="main">
    <div class="container">
      <div class="footersectionone">
        <div class="firstsection">
          <span>© 2022 Airbnb,inc.</span>
          <span class="dot">·</span>
          <a href="">Privacy</a>
          <span class="dot">·</span>
          <a href="">Terms</a>
          <span class="dot">·</span>
          <a href="">Sitemap</a>
          <span class="dot">·</span>
          <a href="">Company details</a>
          <span class="dot">·</span>
          <a href="">Destinations</a>
        </div>
        <div class="secondsection">
          <div>
            <span class="mainspan">
              <button>
                <span class="me-2"><img width="16px" height="16px" src="../../../assets/img/globicon.svg" alt=""></span>
                <span>English (IN)</span>
              </button>
            </span>
            <span class="mainspan">
              <button>
                <span class="me-2">₹</span>
                <span>INR</span>
              </button>
            </span>
          </div>
          <button class="supportbutton">
            <span>Support & resources</span>
            <span class="ms-2"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                role="presentation" focusable="false"
                style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                <g fill="none">
                  <path
                    d="m4 20 11.2928932-11.29289322c.3905243-.39052429 1.0236893-.39052429 1.4142136 0l11.2928932 11.29289322">
                  </path>
                </g>
              </svg></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
