<section class="phnavbarpopup">
  <div class="miandiv">
    <header class="pb-3">
      <div class="closebtnandheadingdiv">
        <button class="closebtn">
          <span><img src="../../../assets/img/closeicon.svg" alt=""></span>
        </button>
        <div class="headerbtnmaindiv">
          <div style="position: relative;">
            <button class="headerbutactive">Stays</button>
            <button>Experiences</button>
            <div class="headerline"></div>
          </div>
        </div>
      </div>
    </header>


  </div>
</section>
