<section class="phnavbarpopup">
  <div class="miandiv">
    <header class="pb-3">
      <div class="closebtnandheadingdiv">
        <button class="closebtn">
          <span><img src="../../../assets/img/closeicon.svg" alt=""></span>
        </button>
        <div class="headerbtnmaindiv">
          <div style="position: relative;">
            <button class="headerbutactive">Stays</button>
            <button>Experiences</button>
            <div class="headerline"></div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="sectionselect">
        <div class=" sectionbutmain">
          <div class="headbtn" style="display: none;">
            <button>
              <span>Where</span>
              <span class="headbtnsubtext">I'm flexible</span>
            </button>
          </div>
        </div>
        <div class="whereshowdiv">
          <h2>
            <div>Where to?</div>
          </h2>
          <div class="searchmaindiv pt-3">
            <form action="">
              <label for="">
                <div class="sarchicondiv">
                  <img src="../../../assets/img/drakseachicon.svg" alt="">
                </div>
                <input type="text" placeholder="Search destinations">
              </label>
            </form>
          </div>
          <div class="mapshow">
            <div class="mapshowmaindiv">
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map1.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    I'm flexible
                  </div>
                </div>
              </div>
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map2.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    Europe
                  </div>
                </div>
              </div>
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map3.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    United Kingdom
                  </div>
                </div>
              </div>
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map4.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    Southeast Asia
                  </div>
                </div>
              </div>
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map5.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    Indonesia
                  </div>
                </div>
              </div>
              <div class="mapcardmain">
                <div class="mapcard">
                  <button>
                    <img src="../../../assets/img/map/map6.jpg" alt="">
                  </button>
                  <div class="maptextdiv">
                    United States
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" sectionbutmain pt-3">
          <div class="headbtn">
            <button>
              <span>When</span>
              <span class="headbtnsubtext">Add dates</span>
            </button>
          </div>
        </div>
        <div class="whosection sectionbutmain">
          <div class="headbtn">
            <button>
              <span>Who</span>
              <span class="headbtnsubtext">Add guests</span>
            </button>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>
