<div class="maindiv">
  <div class="pricemaindiv">
    <div class="topmaindiv">
      <div class="priceboxdiv">
        <div class="mainbox">
          <button class="minbutton">
            <span>
              <img src="../../../../assets/img/host/minus.svg" alt="">
            </span>
          </button>
          <div class="box">
            <div class="inputmaindiv">
              <label>
                <div>
                  <input type="text">
                </div>
              </label>
            </div>
          </div>
          <button class="maxbutton">
            <span>
              <img src="../../../../assets/img/host/plus.svg" alt="">
            </span>
          </button>
        </div>
        <div class="subtext">Per night</div>
      </div>
      <div class="errormaindiv"></div>
      <div class="textmaindiv"></div>
    </div>
    <div class="bottomdiv"></div>
  </div>
</div>
