header {
  margin-top: 40px;
  margin-bottom: 40px;

  nav {
    .headingtextdiv {
      margin-top: 12px;

      ol {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          div {
            margin-left: 16px;
            margin-right: 16px;
            display: inline-block;

            img {
              height: 10px;
              width: 10px;
              fill: rgb(118, 118, 118);
            }
          }

          span {
            margin: 0;
            overflow-wrap: break-word;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.2em;
            color: rgb(72, 72, 72);

            a {
              text-decoration: none;
              color: #484848;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .headingtext {
    margin-top: 12px;

    h1 {
      div {
        margin: 0;
        overflow-wrap: break-word;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.125em;
        color: rgb(72, 72, 72);

      }
    }
  }
}

/* medlle start */
.maincol {
  padding-left: 8px;
  padding-right: 8px;
  min-height: 1px;
  position: relative;

  .maincarddiv {
    border-bottom: 1px solid rgb(235, 235, 235);

    .carddiv {
      padding-top: 24px;
      padding-bottom: 24px;
      border-radius: 1px;

      .cardcondiv {
        display: flex;

        .cardtextdiv {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          flex: 1 1 0%;
          width: 100%;

          .cardtexttop {
            color: rgb(32, 32, 32);
            font-size: var(--text-size);
            line-height: 20px;
          }

          .username {
            color: rgb(113, 113, 113);
            margin-top: 4px;
            word-break: break-all;
            font-size: 14px;
            line-height: var(--lineheight);

            .subtext {
              padding: 8px 205px 0 0;
            }
          }
        }

        .cardbuttondiv {
          margin-left: 16px;
          max-width: 30%;
          word-break: break-word;
          text-align: right;

          button {
            background: transparent;
            border: 0;
            outline: none;
            text-decoration: underline;
            margin: 0;
            padding: 0;
            color: rgb(32, 32, 32);
            font-weight: 600;
            text-align: right;
          }
        }
      }
    }
  }
}

.subcol {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;

  .mainboxdiv {
    border: 1px solid var(--borderlight-color);
    padding: 24px;
    border-radius: 12px;

    img {
      display: block;
      height: 48px;
      width: 48px;
      fill: rgb(227, 28, 95);
      stroke: currentcolor;
    }

    .subcolmaintext {
      margin-top: 16px;
      font-size: 20px;
      font-weight: 700;
    }

    .subcolsubtext {
      margin-top: 16px;
      font-size: var(--text-size);
      color: rgb(113, 113, 113);
    }

    .linediv {
      border-bottom: 1px solid rgb(221, 221, 221);
      margin: 32px 0;
    }
  }
}

/* medlle end */
.inputmainsection {
  margin-left: -8px;
  margin-right: -8px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  .inputmaindiv {
    padding-left: 8px;
    padding-right: 8px;

    .inputdiv {
      position: relative;
      display: flex;
      min-height: 56px;
      width: 100%;
      border: none;
      color: rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
      font-size: var(--text-size);
      line-height: 20px;
      font-weight: 400;

      label {
        position: relative;
        flex: 1 1 0%;
        padding: 0;

        .toptextmain {
          position: absolute;
          top: 8px;
          left: 12px;
          right: 12px;
          margin: 0;
          padding: 0;
          color: rgb(113, 113, 113);
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;

          .toptext {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .inputdivbox {
          display: flex;
          opacity: 1;

          input {
            width: 100%;
            border: none;
            outline: none;
            padding: 0;
            margin: 26px 12px 6px;
            background: transparent;

          }
        }
      }
    }
  }
}

.savebuttondiv {
  margin-bottom: 24px;

  button {
    margin: 0;
    position: relative;
    width: auto;
    font-size: var(--text-size);
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    padding: 14px 24px;
    border: none;
    background: var(--text-color);
    color: var(--white);
  }
}

/* common styles */
.backbuttonsection {
  display: none;
}

.nameinput {
  display: none;
}

.h {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.backbuttonsection {
  position: sticky;
  top: 0;
  z-index: 4;

  .backbutton {
    background: var(--white);
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 1;

    .backbuttondiv {
      margin-right: auto;
      overflow: hidden;

      button {
        display: inline-block;
        margin: 0 -8px;
        width: auto;
        outline: none;
        background: transparent;
        padding: 8px;
        border: none;

        div {
          flex: 1 1 0%;
          display: flex;
          align-items: center;
          padding: 0 8px;
          max-width: 100%;
          padding-right: 8px;
        }
      }
    }
  }
}

/* footer start */
.footersectionmain {
  background: rgb(247, 247, 247);
  position: relative;
  border-top: 1px solid rgb(221, 221, 221);
}

/* footer end */

@media only screen and (max-width: 768px) {
  .backbuttonsection {
    display: block !important;
  }

  app-navbar {
    display: none !important;
  }

  .col-4 {
    display: none;
  }

  nav {
    display: none;
  }

  .subtext {
    padding: 8px 0 0 0 !important;
  }

  .headingtext {
    h1 {
      div {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 22px !important;
        font-weight: 800;
        line-height: 26px;
        // letter-spacing: 0.5px;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }

  .phinputmaindiv {
    padding-top: 10px;
  }
}
