<app-navbar></app-navbar>
<section class="backbuttonsection">
  <div class="backbutton">
    <div class="backbuttondiv">
      <button (click)="backfunction()">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
          focusable="false"
          style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
          <g fill="none">
            <path
              d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932">
            </path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <header>
      <nav>
        <div class="headingtextdiv">
          <ol>
            <li>
              <span>
                <a href="user">Account</a>
              </span>
            </li>
            <li>
              <div>
                <img src="../../../../assets/img/user/rightarror.svg" alt="">
              </div>
              <span>
                Personal info
              </span>
            </li>
          </ol>
        </div>
      </nav>
      <div class="headingtext">
        <h1 class="h">
          <div>Personal info</div>
        </h1>
      </div>
    </header>
  </div>
  <div class="row pb-5 justify-content-between">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="maincol">
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Legal name</h2>
                </div>
                <div class="username">
                  <span>Shibin cp</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button (click)="nameedit()">
                  Edit
                </button>
              </div>
            </div>
          </div>
          <form class="nameinput">
            <div style="margin-bottom: 16px;">
              <div class="inputmainsection">
                <div class="inputmaindiv">
                  <div class="inputdiv">
                    <label>
                      <div class="toptextmain">
                        <div class="toptext">First name</div>
                      </div>
                      <div class="inputdivbox">
                        <input>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="inputmaindiv">
                  <div class="inputdiv">
                    <label>
                      <div class="toptextmain">
                        <div class="toptext">Last name</div>
                      </div>
                      <div class="inputdivbox">
                        <input>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="savebuttondiv">
              <button type="submit" class="_1ku51f04">Save</button>
            </div>
          </form>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Gender</h2>
                </div>
                <div class="username">
                  <span>Not specified</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Email address</h2>
                </div>
                <div class="username">
                  <span>c***o@gmail.com</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Phone number</h2>
                </div>
                <div class="username pt-2">
                  <span>+91 **** **9 882</span>
                  <div class="subtext">Contact number (for confirmed guests and Airbnb to get in touch). You can add
                    other numbers and choose how they’re used.</div>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Government ID</h2>
                </div>
                <div class="username">
                  <span>Not provided</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Address</h2>
                </div>
                <div class="username">
                  <span>Not provided</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="maincarddiv">
          <div class="carddiv">
            <div class="cardcondiv">
              <div class="cardtextdiv">
                <div class="cardtexttop">
                  <h2 class="h">Emergency contact</h2>
                </div>
                <div class="username">
                  <span>Not probided</span>
                </div>
              </div>
              <div class="cardbuttondiv">
                <button>
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="subcol">
        <div class="mainboxdiv">
          <img src="../../../../assets/img/lock.svg" alt="">
          <div class="subcolmaintext">Why isn’t my info shown here?</div>
          <div class="subcolsubtext">We’re hiding some account details to protect your identity.</div>
          <div class="linediv"></div>
          <img src="../../../../assets/img/lockicon.svg" alt="">
          <div class="subcolmaintext">Which details can be edited?</div>
          <div class="subcolsubtext">Details Airbnb uses to verify your identity can’t be changed. Contact info and some
            personal details can be edited, but we may ask you to verify your identity the next time you book or create
            a listing.</div>
          <div class="linediv"></div>
          <img src="../../../../assets/img/eyes.svg" alt="">
          <div class="subcolmaintext">What info is shared with others?</div>
          <div class="subcolsubtext">Airbnb only releases contact information for Hosts and guests after a reservation
            is confirmed.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="footersectionmain py-3">
  <div class="container">
    <app-footer></app-footer>
  </div>
</section>
