<section>
  <div class="main">
    <div class="placehostmaindiv">
      <div class="placehostdiv">
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Home</h2>
              <div class="subtext">
                A home that may stand alone or have shared walls.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Cabin</h2>
              <div class="subtext">
                A house made with natural materials like wood and built in a
                natural setting.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Villa</h2>
              <div class="subtext">
                A luxury home that may have indoor-outdoor spaces, gardens, and
                pools.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Townhouse</h2>
              <div class="subtext">
                A multi-level row or terraced house that shares walls and
                possibly outdoor spaces.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Cottage</h2>
              <div class="subtext">
                A cosy house built in a rural area or near a lake or beach.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>BUngalow</h2>
              <div class="subtext">
                A single-level house with a wide front porch and a sloping roof.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Earthen home</h2>
              <div class="subtext">
                A home built in the ground or made from materials like rammed
                earth.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Houseboat</h2>
              <div class="subtext">
                A floating home constructed from similar materials as a
                land-based home.
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>Hut</h2>
              <div class="subtext">
                A home made of wood or mud that may have a thatched straw roof.
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
