<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="fullsection">
        <section class="topsection">
          <div class="userboxmain">
            <div class="userimgdiv">
              <img src="../../../assets/img/user/usericon.png" alt="">
            </div>
            <div class="usernamediv">
              <h1>Shibin</h1>
            </div>
            <div class="showprofilebuttondiv">
              <a href="">Show profile</a>
            </div>
          </div>
        </section>
        <section class="middlesection">
          <div class="personalingomaindiv">
            <a href="userinfo">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/usericon.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Personal info</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/accounticon.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Account</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
          </div>
          <div class="personalingomaindiv">
            <section class="headingsection">
              <h1>
                <div>Hosting</div>
              </h1>
            </section>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/Global.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Manage your listing</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/experience.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Host an experience</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
          </div>
          <div class="personalingomaindiv">
            <section class="headingsection">
              <h1>
                <div>Referrals & credits</div>
              </h1>
            </section>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/coupons.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Refer a Host</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
          </div>
          <div class="personalingomaindiv">
            <section class="headingsection">
              <h1>
                <div>Support</div>
              </h1>
            </section>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/blacklogo.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>How Airbnb works</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/hlep.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Get help</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="boxmain">
                <div class="icondiv">
                  <div>
                    <img src="../../../assets/img/user/contacticon.svg" alt="">
                  </div>
                </div>
                <div class="textmaindiv">
                  <button>
                    <span class="buttonspan">
                      <div>Contact Neighbourhood Support</div>
                      <span>
                        <img src="../../../assets/img/user/rightarror.svg" alt="">
                      </span>
                    </span>
                  </button>
                  <div class="subtextdiv">Let our team know about concerns related to home-sharing activity in your
                    area.</div>
                </div>
              </div>
            </a>
          </div>
        </section>
        <section class="bottomsection">
          <div class="engmaindiv">
            <span class="engmainspan">
              <button>
                <span class="imgspan">
                  <img src="../../../assets/img/globicon.svg" alt="">
                </span>
                <span class="textspan">English (IN)</span>
              </button>
            </span>
            <span class="engmainspan">
              <button>
                <span class="imgspan">
                  <span class="textspan">₹</span>
                </span>
                <span class="textspan">English (IN)</span>
              </button>
            </span>
          </div>
          <form action="">
            <button type="submit">Log out</button>
          </form>
          <div class="footermaindiv">
            <div class="footerdiv">
              <ul>
                <li><a href="">Help & support</a></li>
                <li><span> · </span><a href="">Terms of service</a></li>
                <li><span> · </span><a href="">Privacy Policy</a></li>
              </ul>
              <div>© 2022 Sky, Inc. All rights reserved.</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-phhomefooter></app-phhomefooter>
</div>
