<div class="navbarmaindivdiv testrow">
  <div class="navbardiv">
    <a href="/">
      <div class="mainlogodiv">
        <img src="../../../assets/img/logo.png" alt="" />
      </div>
      <div class="sublogodiv">
        <img width="30" height="32" src="../../../assets/img/sublogo.png" alt="" />
      </div>
    </a>
  </div>
</div>
<div class="container">
  <div class="row testrow">
    <div class="headingmaindiv">
      <section>
        <div class="headingdiv">
          <div class="arrordiv">
            <a href="">
              <span>
                <img src="../../../assets/img/booking/arrorlift.svg" alt="" />
              </span>
            </a>
          </div>
          <div class="headingtextdiv">
            <h1 class="hfontclear">Request to book</h1>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row maincolrow">
    <div class="col-6">
      <div class="firstmiandiv">
        <div class="firstdiv">
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="triptext">
                <h2 class="hfontclear">Your trip</h2>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="datesmaindiv">
                <div class="datestextmaindiv">
                  <div class="maintext">
                    <h3 class="hfontclear">Dates</h3>
                  </div>
                  <div class="subtext">9–16 Nov</div>
                </div>
                <div class="datesbutton">
                  <button>Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="datesmaindiv">
                <div class="datestextmaindiv">
                  <div class="maintext">
                    <h3 class="hfontclear">Guests</h3>
                  </div>
                  <div class="subtext">9–1 guest</div>
                </div>
                <div class="datesbutton">
                  <button>Edit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="paywithboxhead">
            <div class="paywithtextdiv">
              <div class="line"></div>
              <div class="paywithcol">
                <div class="paywithdiv">
                  <div class="payheaddiv">
                    <div class="payflexdiv">
                      <div class="textdiv">
                        <h2 class="hfontclear">Pay with</h2>
                      </div>
                      <div class="imgmaindiv">
                        <span>
                          <img src="../../../assets/img/Bank/1.svg" alt="" />
                        </span>
                        <span>
                          <img src="../../../assets/img/Bank/2.svg" alt="" />
                        </span>
                        <span>
                          <img src="../../../assets/img/Bank/3.svg" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="creditcardboxmain">
                    <button>
                      <div class="buttonmiandiv">
                        <div class="buttondiv">
                          <div class="cardimgmian">
                            <img src="../../../assets/img/booking/cardicon.svg" alt="" />
                          </div>
                          <div class="creditordebitdiv">
                            <div>Credit or Debit card</div>
                          </div>
                        </div>
                      </div>
                    </button>
                    <span>
                      <div class="arrormiandiv">
                        <div class="arrorsubdiv">
                          <div>
                            <img src="../../../assets/img/booking/arrorlift.svg" alt="" />
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
                  <div class="paydropdownmain">
                    <ul class="paydropdownul">
                      <ul>
                        <li>
                          <div class="creditcardboxmain dropdowncredit">
                            <button>
                              <div class="buttonmiandiv">
                                <div class="buttondiv">
                                  <div class="cardimgmian">
                                    <img src="../../../assets/img/booking/cardicon.svg" alt="" />
                                  </div>
                                  <div class="creditordebitdiv">
                                    <div>Credit or Debit card</div>
                                  </div>
                                </div>
                              </div>
                            </button>
                            <span>
                              <div class="arrormiandiv">
                                <div class="arrorsubdiv droptick">
                                  <div>
                                    <img src="../../../assets/img/booking/tick.svg" alt="" />
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="couponmaindiv">
                <button>Enter a coupon</button>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="line"></div>
              <div class="triptext requesttext">
                <h2 class="hfontclear">Required for your trip</h2>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="datesmaindiv">
                <div class="datestextmaindiv">
                  <div class="maintext">
                    <h3 class="hfontclear">Message to host</h3>
                  </div>
                  <div class="subtext">
                    9–Let the host why you're travelling and when you'll check
                    in.
                  </div>
                </div>
                <div class="datesbutton addbutton">
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="datesmaindiv">
                <div class="datestextmaindiv">
                  <div class="maintext">
                    <h3 class="hfontclear">Profile photo</h3>
                  </div>
                  <div class="subtext">
                    Host want know who'staying at their place.
                  </div>
                </div>
                <div class="datesbutton addbutton">
                  <button>Add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="paywithboxhead">
            <div class="paywithtextdiv">
              <div class="line"></div>
              <div class="paywithcol">
                <div class="cancellationpolicymaindiv">
                  <div class="cancellationhaeddiv">
                    <div>Cabcellation policy</div>
                  </div>
                  <div class="spacediv"></div>
                  <span>Cancel before check-in on 13 Nov for a partial refund.
                    After that, your refund depends on when you cancel.
                  </span>
                  <button>Learn more</button>
                </div>
              </div>
            </div>
          </div>
          <div class="paywithboxhead">
            <div class="paywithtextdiv">
              <div class="line"></div>
              <div class="paywithcol">
                <div class="calendermaindiv">
                  <div class="calenderimgmaindiv">
                    <img src="../../../assets/img/booking/Calendarimg.svg" alt="" />
                  </div>
                  <div class="calendertextmaindiv">
                    <span class="mainspan">Your reservation won’t be confirmed until the host
                      accepts your request (within 24 hours).</span>
                    <span class="subspan">You won’t be charged until then.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="paywithboxhead">
            <div class="paywithtextdiv">
              <div class="line"></div>
              <div class="paywithcol">
                <div class="policytextmain">
                  By selecting the button below, I agree to the
                  <span>Host's House Rules</span>
                  ,
                  <span>Sky's Rebooking and Refund Policy</span>
                  and that Sky can
                  <span>charge my payment method</span>
                  if I’m responsible for damage. I agree to pay the total amount
                  shown if the Host accepts my booking request.
                </div>
              </div>
            </div>
          </div>
          <div class="yourtripboxhead">
            <div class="yourtriptextdiv">
              <div class="requestbuttonmaindiv">
                <button>Request to book</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 pricecardcol">
      <div class="pricecardmainsection">
        <div class="pricecardmaindiv">
          <div class="imgsectionmaindiv">
            <div class="imgsectiondiv">
              <div class="imgmaindiv">
                <div class="imgdiv">
                  <img src="../../../assets/img/hotelpage/hotelimg/1.jpg" alt="" />
                </div>
              </div>
              <div class="imgtextsectionmaindiv">
                <div class="maintext">
                  <div class="toptext">Private room in villa</div>
                  <div class="middletext">
                    Amba Villa, Beautiful , Contemporary and Scenic
                  </div>
                </div>
                <div class="subtextmain">
                  <div class="subtext">
                    <span class="subtextspanmain">
                      <span><i class="bx bxs-star"></i></span>
                      <span class="rivetext">5.00</span>
                      <span>(1 review)</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="aircovermaindiv">
            <div class="line"></div>
            <div class="aircoverdiv">
              <div class="aircovertextdiv">
                Your booking is protected by
                <div class="aircoverimg">
                  <img src="../../../assets/img/booking/aircover.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="priceheadmiandiv">
            <div class="line"></div>
            <div class="priceheaddiv">
              <h2 class="hfontclear">Price details</h2>
            </div>
          </div>
          <div class="priceamoutmaindiv">
            <div class="roomrent">
              <div class="buttonmin">
                <button>₹6,600 x 5 nights</button>
              </div>
              <div class="price">
                <span> ₹33,000 </span>
              </div>
            </div>
            <div class="roomrent pt-2">
              <div class="buttonmin">
                <button>Service fee</button>
              </div>
              <div class="price">
                <span> ₹4,659 </span>
              </div>
            </div>
          </div>
          <div class="totalprivemaindiv pt-3">
            <span>Total before taxes</span>
            <span>₹37,659</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row phrow">
    <div class="col-12">
      <div class="headsectionmaindiv">
        <div class="headsectiondiv">
          <div class="headdiv">
            <button>
              <div>
                <img src="../../../assets/img/booking/arrorlift.svg" alt="" />
              </div>
            </button>
            <div class="texthead">
              <h1 class="hfontclear">Request to book</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="pricecardmainsection">
        <div class="pricecardmaindiv phpricecardminsection">
          <div class="imgsectionmaindiv">
            <div class="imgsectiondiv">
              <div class="imgmaindiv">
                <div class="imgdiv">
                  <img src="../../../assets/img/hotelpage/hotelimg/2.jpg" alt="" />
                </div>
              </div>
              <div class="imgtextsectionmaindiv">
                <div class="maintext">
                  <div class="toptext">Private room in villa</div>
                  <div class="middletext">
                    Amba Villa, Beautiful , Contemporary and Scenic
                  </div>
                </div>
                <div class="subtextmain">
                  <div class="subtext">
                    <span class="subtextspanmain">
                      <span><i class="bx bxs-star"></i></span>
                      <span class="rivetext">5.00</span>
                      <span>(1 review)</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="aircovermaindiv">
            <div class="line"></div>
            <div class="aircoverdiv">
              <div class="aircovertextdiv">
                Your booking is protected by
                <div class="aircoverimg">
                  <img src="../../../assets/img/booking/aircover.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="firstmiandiv">
            <div class="firstdiv">
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="triptext">
                    <h2 class="hfontclear">Your trip</h2>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="datesmaindiv">
                    <div class="datestextmaindiv">
                      <div class="maintext">
                        <h3 class="hfontclear">Dates</h3>
                      </div>
                      <div class="subtext">9–16 Nov</div>
                    </div>
                    <div class="datesbutton">
                      <button>Edit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="datesmaindiv">
                    <div class="datestextmaindiv">
                      <div class="maintext">
                        <h3 class="hfontclear">Guests</h3>
                      </div>
                      <div class="subtext">9–1 guest</div>
                    </div>
                    <div class="datesbutton">
                      <button>Edit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="priceheadmiandiv">
                <div class="line"></div>
                <div class="priceheaddiv">
                  <h2 class="hfontclear">Price details</h2>
                </div>
              </div>
              <div class="priceamoutmaindiv">
                <div class="roomrent">
                  <div class="buttonmin">
                    <button>₹6,600 x 5 nights</button>
                  </div>
                  <div class="price">
                    <span> ₹33,000 </span>
                  </div>
                </div>
                <div class="roomrent pt-2">
                  <div class="buttonmin">
                    <button>Service fee</button>
                  </div>
                  <div class="price">
                    <span> ₹4,659 </span>
                  </div>
                </div>
              </div>
              <div class="totalprivemaindiv pt-3">
                <span>Total before taxes</span>
                <span>₹37,659</span>
              </div>
              <div class="paywithboxhead">
                <div class="paywithtextdiv">
                  <div class="paywithcol phpaywithcol">
                    <div class="paywithdiv">
                      <div class="payheaddiv">
                        <div class="payflexdiv">
                          <div class="textdiv">
                            <h2 class="hfontclear">Pay with</h2>
                          </div>
                          <div class="imgmaindiv">
                            <span>
                              <img src="../../../assets/img/Bank/1.svg" alt="" />
                            </span>
                            <span>
                              <img src="../../../assets/img/Bank/2.svg" alt="" />
                            </span>
                            <span>
                              <img src="../../../assets/img/Bank/3.svg" alt="" />
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="creditcardboxmain">
                        <button>
                          <div class="buttonmiandiv">
                            <div class="buttondiv">
                              <div class="cardimgmian">
                                <img src="../../../assets/img/booking/cardicon.svg" alt="" />
                              </div>
                              <div class="creditordebitdiv">
                                <div>Credit or Debit card</div>
                              </div>
                            </div>
                          </div>
                        </button>
                        <span>
                          <div class="arrormiandiv">
                            <div class="arrorsubdiv">
                              <div>
                                <img src="../../../assets/img/booking/arrorlift.svg" alt="" />
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="paydropdownmain">
                        <ul class="paydropdownul">
                          <ul>
                            <li>
                              <div class="creditcardboxmain dropdowncredit">
                                <button>
                                  <div class="buttonmiandiv">
                                    <div class="buttondiv">
                                      <div class="cardimgmian">
                                        <img src="../../../assets/img/booking/cardicon.svg" alt="" />
                                      </div>
                                      <div class="creditordebitdiv">
                                        <div>Credit or Debit card</div>
                                      </div>
                                    </div>
                                  </div>
                                </button>
                                <span>
                                  <div class="arrormiandiv">
                                    <div class="arrorsubdiv droptick">
                                      <div>
                                        <img src="../../../assets/img/booking/tick.svg" alt="" />
                                      </div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </li>
                          </ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="couponmaindiv phcouponmaindiv">
                    <button>Enter a coupon</button>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="line"></div>
                  <div class="triptext requesttext">
                    <h2 class="hfontclear">Required for your trip</h2>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="datesmaindiv">
                    <div class="datestextmaindiv">
                      <div class="maintext">
                        <h3 class="hfontclear">Message to host</h3>
                      </div>
                      <div class="subtext">
                        9–Let the host why you're travelling and when you'll
                        check in.
                      </div>
                    </div>
                    <div class="datesbutton addbutton">
                      <button>Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="datesmaindiv">
                    <div class="datestextmaindiv">
                      <div class="maintext">
                        <h3 class="hfontclear">Profile photo</h3>
                      </div>
                      <div class="subtext">
                        Host want know who'staying at their place.
                      </div>
                    </div>
                    <div class="datesbutton addbutton">
                      <button>Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paywithboxhead">
                <div class="paywithtextdiv">
                  <div class="line"></div>
                  <div class="paywithcol">
                    <div class="cancellationpolicymaindiv">
                      <div class="cancellationhaeddiv">
                        <div>Cabcellation policy</div>
                      </div>
                      <div class="spacediv"></div>
                      <span>Cancel before check-in on 13 Nov for a partial refund.
                        After that, your refund depends on when you cancel.
                      </span>
                      <button>Learn more</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paywithboxhead">
                <div class="paywithtextdiv">
                  <div class="line"></div>
                  <div class="paywithcol">
                    <div class="calendermaindiv">
                      <div class="calenderimgmaindiv">
                        <img src="../../../assets/img/booking/Calendarimg.svg" alt="" />
                      </div>
                      <div class="calendertextmaindiv phcalendertextmaindiv">
                        <span class="mainspan">Your reservation won’t be confirmed until the host
                          accepts your request (within 24 hours).</span>
                        <span class="subspan">You won’t be charged until then.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paywithboxhead">
                <div class="paywithtextdiv">
                  <div class="line"></div>
                  <div class="paywithcol">
                    <div class="policytextmain">
                      By selecting the button below, I agree to the
                      <span>Host's House Rules</span>
                      ,
                      <span>Sky's Rebooking and Refund Policy</span>
                      and that Sky can
                      <span>charge my payment method</span>
                      if I’m responsible for damage. I agree to pay the total
                      amount shown if the Host accepts my booking request.
                    </div>
                  </div>
                </div>
              </div>
              <div class="yourtripboxhead">
                <div class="yourtriptextdiv">
                  <div class="requestbuttonmaindiv">
                    <button>Request to book</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-homefooter></app-homefooter>
