.maindiv {
  margin-top: 0;

  .firstsection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 656px;
    width: 100%;

    h2 {
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .boxmandiv {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      button {
        padding-top: 24px;
        padding-bottom: 40px;
        margin: 0 8px 16px;
        flex: 0 1 calc(33% - 16px) !important;
        background-color: var(--white);
        border: 1px solid var(--light-background);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-height: 68px;

        &:hover {
          border-color: transparent !important;
          box-shadow: rgb(34 34 34) 0px 0px 0px 2px !important;
        }

        .iconimgdiv {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: block;
            height: 52px;
            width: 52px;
            fill: currentcolor;
          }
        }

        .textdiv {
          font-size: var(--text-size);
          line-height: var(--lineheight);
          font-weight: 600;
          color: var(--text-color);
          text-align: center;
          margin: 0px 20px;
        }
      }
    }
  }
}

.active {
  border: transparent;
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px;
  background-color: rgb(247, 247, 247) !important;
}

@media only screen and (max-width: 768px) {
  .maindiv {
    padding-bottom: 3rem;

    .firstsection {
      .boxmandiv {
        button {
          margin: 0 6px 12px !important;
          padding-top: 12px !important;
          padding-bottom: 24px !important;
          flex: 0 1 calc(50% - 12px) !important;
        }
      }
    }
  }
}
