<section>
  <div class="main">
    <div class="placehostmaindiv">
      <div class="placehostdiv">
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>An entire</h2>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>A private room</h2>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button (click)="buttonactive()">
            <div class="cardtext">
              <h2>A shared room</h2>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
