<section>
  <div class="head">
    <span class="starspan"><i class='bx bxs-star'></i></span>
    <span class="reviewconttext">
      <h2>
        <div><span>4.80 · 128 reviews</span></div>
      </h2>
    </span>
  </div>
  <div class="hotelreviewlistmaindiv">
    <div class="hotelreviewlistdiv">
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Cleanliness</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 93%;"></span>
            </div>
            <span>4.7</span>
          </div>
        </div>
      </div>
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Accuracy</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 96%;"></span>
            </div>
            <span>4.9</span>
          </div>
        </div>
      </div>
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Communication</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 96%;"></span>
            </div>
            <span>4.9</span>
          </div>
        </div>
      </div>
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Location</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 95%;"></span>
            </div>
            <span>4.8</span>
          </div>
        </div>
      </div>
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Check-in</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 100%;"></span>
            </div>
            <span>5.0</span>
          </div>
        </div>
      </div>
      <div class="hotelreviewlistcard">
        <div>
          <div class="text">Value</div>
          <div class="linediv">
            <div class="line">
              <span style="width: 93%;"></span>
            </div>
            <span>4.7</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
