<!-- nav section start -->
<nav>
    <div class="navSection">
        <div class="backbutton">
            <button>
                <span><img src="../../../assets/img/show more/leftarrow.svg" alt=""></span>
            </button>
        </div>
        <div class="buttonsdiv">
            <div class="buttondiv sharebutton">
                <button>
                    <div ><span><img src="../../../assets/img/hotelpage/sendicon.svg" alt=""></span> <span class="sharetext">Share</span> </div>
                </button>
            </div>
            <div class="buttondiv savebutton">
                <button>
                    <div><span><img src="../../../assets/img/hotelpage/hearticon.svg" alt=""></span>Save</div>
                </button>
            </div>
        </div>
    </div>
</nav>
<!--nav section end -->
