<!-- nav section start -->
<section class="showmorenav">
    <div class="navSection">
        <div class="backbutton">
            <button>
                <span><img src="../../../assets/img/show more/leftarrow.svg" alt=""></span>
            </button>
        </div>
        <div class="buttonsdiv">
            <div class="buttondiv sharebutton">
                <button>
                    <div><span><img src="../../../assets/img/hotelpage/sendicon.svg" alt=""></span> <span
                            class="sharetext">Share</span> </div>
                </button>
            </div>
            <div class="buttondiv savebutton">
                <button>
                    <div><span><img src="../../../assets/img/hotelpage/hearticon.svg" alt=""></span>Save</div>
                </button>
            </div>
        </div>
    </div>
</section>
<!--nav section end -->
<!-- image section start -->
<section class="image-section">
    <div class="wrap">
        <div class="images-wrap">
            <div class="image-col-wrap" style="grid-area: 1/1/auto/auto;">
                <div class="image-col" style="grid-area: 1 / 1 / auto / auto;">
                    <button>
                        <div class="image">
                            <div class="image-div">
                                <img src="../../../assets/img/show more/1.webp" alt="">
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="image-col-wrap" style="grid-area:2 / 1 / auto / auto;">
                <div class="two-images-wrap">
                    <div class="image-col" style="grid-area: 1 / 1 / auto / auto;">
                        <button>
                            <div class="image">
                                <div class="image-div">
                                    <img src="../../../assets/img/show more/2.webp" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="image-col" style="grid-area: 1 / 2 / auto / auto;">
                        <button>
                            <div class="image">
                                <div class="image-div">
                                    <img src="../../../assets/img/show more/3.webp" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="image-col-wrap" style="grid-area: 3 / 1 / auto / auto;">
                <div class="two-images-wrap">
                    <div class="image-col" style="grid-area: 1 / 1 / auto / auto;">
                        <button>
                            <div class="image">
                                <div class="image-div">
                                    <img src="../../../assets/img/show more/4.webp" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="image-col" style="grid-area: 2 / 1 / auto / auto;">
                        <button>
                            <div class="image">
                                <div class="image-div">
                                    <img src="../../../assets/img/show more/5.webp" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="image-col" style="grid-area: 1 / 2 / span 2 / auto;">
                        <button>
                            <div class="image">
                                <div class="image-div">
                                    <img src="../../../assets/img/show more/6.webp" alt="">
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="image-col-wrap" style="grid-area: 4/1/auto/auto;">
                <div class="image-col" style="grid-area: 1 / 1 / auto / auto;">
                    <button>
                        <div class="image">
                            <div class="image-div">
                                <img src="../../../assets/img/show more/1.webp" alt="">
                            </div>
                        </div>
                    </button>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- image section end -->
