<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6" style="padding: 0">
        <div class="sectioncolone">
          <div class="logomaindiv">
            <a href="/">
              <span>
                <img src="../../../assets/img/host/logo.svg" alt="" />
              </span>
            </a>
            <button>
              <span>
                <img src="../../../assets/img/host/clolseicon.svg" alt="" />
              </span>
            </button>
          </div>
          <div class="questionmaindiv">
            <div class="questiondiv">
              <h1>What kind of place will you host?</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 formcolmaindiv" style="padding: 0">
        <section class="conandsection">
          <div class="form1maindiv">
            <!-- <app-form1></app-form1> -->
          </div>
          <div class="form2maindiv">
            <!-- <app-form2></app-form2> -->
          </div>
          <div class="form3maindiv">
            <!-- <app-form3></app-form3> -->
          </div>
          <!-- <app-form1></app-form1> -->
          <!-- <app-form2></app-form2> -->
          <!-- <app-form3></app-form3> -->
          <!-- <app-form4></app-form4> -->
          <!-- <app-form5></app-form5> -->
          <!-- <app-form6></app-form6> -->
          <!-- <app-form7></app-form7> -->
          <!-- <app-form8></app-form8> -->
          <!-- <app-form9></app-form9> -->
          <!-- <app-form10></app-form10> -->
          <!-- <app-form11></app-form11> -->
          <!-- <app-form12></app-form12> -->
          <app-form13></app-form13>
        </section>
        <div class="sectioncoltwo">
          <div class="topbarmiansection">
            <div class="topbarmiandiv">
              <div class="helpmaindiv">
                <div class="userandhelpmaindiv">
                  <div class="usermaindiv">
                    <button>
                      <span class="askimgspan">
                        <span style="right: -18px; z-index: 3">
                          <div>
                            <img
                              src="../../../assets/img/host/u1.webp"
                              alt=""
                            />
                          </div>
                        </span>
                        <span style="right: -9px; z-index: 2">
                          <div>
                            <img
                              src="../../../assets/img/host/u2.webp"
                              alt=""
                            />
                          </div>
                        </span>
                        <span style="right: 0px; z-index: 1">
                          <div>
                            <img
                              src="../../../assets/img/host/u3.webp"
                              alt=""
                            />
                          </div>
                        </span>
                      </span>
                      Ask a Superhost
                    </button>
                  </div>
                  <div class="phoneaskbutton helpdiv me-3">
                    <button>
                      <div>Ask a Superhost</div>
                    </button>
                  </div>
                  <div class="helpdiv">
                    <button>
                      <div>Help</div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="saveandexitdiv">
                <div class="saveandexitbuttondiv">
                  <button>
                    <div>Save and exit</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="buttommainsection">
            <div class="bottombarmiandiv">
              <div class="backbuttonmaindiv">
                <button [routerLink]="['..']">Back</button>
              </div>
              <div class="nextbuttonmaindiv">
                <button [disabled]="this.buttoncheck" (click)="buttonclick()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
