.col-6 {
  padding: 0;
  margin: 0;
}
.sectioncolone {
  background-image: url(../../../assets/img/host/backgroundimg.webp);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  .logomaindiv {
    display: inline;
    position: fixed;
    top: 32px;
    left: 48px;
    a {
      display: inline-flex;
      border: none;
      color: var(--white);
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      align-items: center;
      span {
        position: relative;
        img {
          display: block;
          height: 32px;
          width: 32px;
          fill: white;
        }
      }
    }
    button {
      display: inline-flex;
      border-radius: 50%;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      background: transparent;
      width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
      display: none;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: transparent;
        background-color: var(--white);
        opacity: 0.2;
      }
      span {
        position: relative;
        opacity: 1;
        img {
          display: block;
          fill: none;
          height: 16px;
          width: 16px;
          stroke: #ffffff;
          stroke-width: 4;
          overflow: visible;
        }
      }
    }
  }
  .questionmaindiv {
    width: 50%;
    height: 100vh;
    max-height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    display: flex;
    min-height: 30%;
    .questiondiv {
      margin-left: min(10%, 56px);
      max-width: 75%;
      margin-bottom: unset;
      margin-right: 24px;
      width: 100%;
      color: var(--white);
      h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 12px;
        font-weight: 600;
      }
    }
  }
}
.topbarmiansection {
  z-index: 2;
  width: 50vw;
  position: fixed;
  left: 50%;
  top: 0px;
  right: 0px;
  .topbarmiandiv {
    padding: 32px 48px 0px;
    display: flex;
    justify-content: flex-end;
    height: 88px;
    .helpmaindiv {
      flex: none;
      padding-right: 16px;
      .userandhelpmaindiv {
        display: flex;
        align-items: center;
        .usermaindiv {
          display: flex;
          justify-content: flex-end;
          margin-right: 12px;
          margin-left: 48px;
          button {
            display: inline-flex;
            font-size: 12px;
            line-height: 16px;
            padding: 4px 22px 4px 2px;
            background: var(--white);
            box-shadow: 0px 0px 0px 1px #dddddd inset,
              0px 2px 4px rgb(0 0 0 / 18%) !important;
            align-items: center;
            border: none;
            outline: none;
            border-radius: 100px;
            font-weight: 600;
            transition: all 0.3s ease;
            &:hover {
              box-shadow: 0px 0px 0px 1px #dddddd inset,
                0px 6px 16px rgb(0 0 0 / 12%) !important;
            }
            .askimgspan {
              margin-left: -18px;
              margin-right: 12px;
              span {
                display: inline-block;
                position: relative;
                border: 1px solid var(--white);
                border-radius: 50%;
                div {
                  display: inline-block;
                  height: 22px;
                  width: 22px;
                  min-height: 1px;
                  border-radius: 50%;
                  img {
                    object-fit: cover;
                    vertical-align: bottom;
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    position: static !important;
                  }
                }
              }
            }
          }
        }
        .helpdiv {
          display: inline;
          position: relative;
          button {
            border: none;
            outline: none;
            background-color: var(--hover-background);
            padding: 0;
            margin: 0;
            color: var(--text-color);
            padding-left: 16px;
            padding-right: 16px;
            border-radius: 32px;
            display: inline-flex;
            justify-content: center;
            flex-direction: row;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            height: 32px;
            align-items: center;
            div {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
    .saveandexitdiv {
      margin-right: 0px;
      position: relative;
      button {
        border: none;
        outline: none;
        background-color: var(--hover-background);
        padding: 0;
        margin: 0;
        color: var(--text-color);
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 32px;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        height: 32px;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.buttommainsection {
  position: fixed;
  width: 50vw;
  bottom: 0;
  background: var(--white);
  .bottombarmiandiv {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-top: 1px solid var(--borderlight-color);
    .backbuttonmaindiv {
      margin-left: 48px;
      button {
        margin: 0;
        padding: 10px;
        position: relative;
        font-size: var(--text-size);
        line-height: 20px;
        font-weight: 600;
        outline: none;
        border: none;
        background: transparent;
        text-decoration: underline;
        margin-left: -10px;
        margin-right: -10px;
        color: var(--text-color);
      }
    }
    .nextbuttonmaindiv {
      margin-right: 48px;
      button {
        cursor: not-allowed;
        border: none;
        background: var(--light-background);
        color: var(--white);
        margin: 0;
        padding: 14px 24px 14px 24px;
        position: relative;
        font-size: var(--text-size);
        line-height: 20px;
        font-weight: 600;
        outline: none;
        text-decoration: none;
        border-radius: 8px;
      }
    }
  }
}
.conandsection {
  margin-top: 88px;
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 82px;
  height: calc(100vh - calc(88px + 82px)) !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.phoneaskbutton {
  display: none;
}
.buttonactive {
  cursor: pointer !important;
  background-color: black !important;
}
@media only screen and (max-width: 770px) {
  .conandsection {
    padding-left: 24px;
    padding-right: 24px;
  }
  .usermaindiv {
    display: none !important;
  }
  .buttommainsection {
    width: 100vw;
  }
  .questionmaindiv {
    width: 100% !important;
    height: 45vh !important;
    .questiondiv {
      margin-left: 24px !important;
      margin-bottom: 20px !important;
      h1 {
        font-size: 26px !important;
        line-height: 30px !important;
        margin-bottom: 0 !important;
      }
    }
  }
  .sectioncolone {
    height: 30vh;
    background-image: url(../../../assets/img/host/backgroudimg2.webp);
  }
  .logomaindiv {
    top: 15px !important;
    left: 15px !important;
    a {
      display: none !important;
    }
    button {
      display: flex !important;
    }
  }
  .helpdiv,
  .saveandexitdiv {
    div {
      position: relative;
    }
    button {
      background-color: transparent !important;
      color: var(--white) !important;
      &::before {
        content: "" !important;
        position: absolute !important;
        top: 0px !important;
        bottom: 0px !important;
        left: 0px !important;
        right: 0px !important;
        border-radius: 32px !important;
        background-color: #ffffff !important;
        opacity: 0.2 !important;
      }
    }
  }
  .topbarmiandiv {
    padding: 15px 20px 0px !important;
  }
  .saveandexitdiv {
    display: none !important;
  }
  .phoneaskbutton {
    display: block !important;
  }
  .conandsection {
    margin-top: 25px;
    overflow: unset;
  }
  .formcolmaindiv {
    border-radius: 12px 12px 0px 0px !important;
    z-index: 3;
    margin-top: -10px;
    background-color: var(--white);
  }
}
@media only screen and (min-width: 770px) {
  .usermaindiv,
  .phoneaskbutton {
    display: none !important;
  }
  .buttommainsection {
    width: 50vw;
  }
  .questionmaindiv {
    width: 50% !important;
    height: 100vh !important;
    .questiondiv {
      h1 {
        font-size: 48px !important;
        line-height: 56px !important;
        margin-bottom: 12px !important;
      }
    }
  }
  .sectioncolone {
    height: 100vh;
    background-image: url(../../../assets/img/host/backgroundimg.webp);
  }
  .logomaindiv {
    a {
      display: block !important;
    }
    button {
      display: none !important;
    }
  }
  .saveandexitdiv {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) {
  .usermaindiv {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .usermaindiv {
    display: block !important;
  }
}
.form2maindiv {
  display: none;
}
app-form8,
app-form7,
app-form9 {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
