@import "swiper/css/pagination";
.maincard {
  width: 305px;
  height: 405px;
  min-width: 100%;
}
.maincard:hover {
  .chbtn {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }
}
.swiper-wrap {
  position: relative;
  .swiper {
    width: 100% !important;
    height: 100% !important;
  }
  .swiper-wrapper {
    display: grid !important;
    gap: 0 !important;
    grid-auto-flow: column;
    justify-content: flex-start;
  }
}
.cardtextmaindiv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  .textmain {
    .cardheaddiv {
      line-height: 20px;
      overflow: clip;
      .cardheadtext {
        overflow: hidden;
        color: var(--text-color);
        font-weight: 500;
        line-height: inherit;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-break: break-all;
        font-size: 16px;
      }
      .cardsubtext {
        display: grid;
        span {
          color: var(--light-color);
          font-size: 15px;
          line-height: 19px;
          font-weight: 400;
        }
      }
    }
    .pricemain {
      div {
        line-height: 35px;
        .pricetext {
          color: var(--text-color);
          font-size: 16px;
          font-weight: 500;
        }
        .pricesubtext {
          color: rgb(34, 34, 34);
          font-size: 15px;
          line-height: 19px;
          font-weight: 400;
        }
      }
    }
  }
  .starmaindiv {
    div {
      display: flex;
      align-items: center;
      color: var(--text-color);
      .star {
        font-size: 12px;
      }
      .startext {
        font-size: 15px;
        line-height: 19px;
        font-weight: 400;
      }
    }
  }
}
.chbtn {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    color: var(--black);
    position: absolute;
    top: 50%;
    background: transparent !important;
    transition: all 0.25s ease;
    &:hover::after {
      border-color: rgba(0, 0, 0, 0.08) !important;
      background-color: rgb(255, 255, 255) !important;
      color: rgb(0, 0, 0) !important;
      box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px,
        rgb(0 0 0 / 12%) 0px 6px 16px !important;
      transform: scale(1.04) !important;
    }
    &::after {
      font-size: 12px !important;
      font-weight: bold;
      color: rgb(34, 34, 34);
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-items: center;
      border: none;
      justify-content: center;
      padding: 15px;
      background: rgba(255, 255, 255, 0.9);
      overflow: hidden;
      box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px,
        rgb(0 0 0 / 18%) 0px 2px 4px;
      transition: all 0.25s ease;
    }
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 55px;
      top: -5px;
      background: transparent !important;
      z-index: -2;
    }
  }
}
.texttt {
  border-radius: 10px;
  overflow: hidden !important;
  .testimg {
    min-height: 305px;
  }
}
.swiper-pagination-bullet-active-main {
  background: var(--white) !important;
}
.swiper-pagination-bullet {
  background-color: white;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
}
@media only screen and (max-width: 600px) {
  .maincard {
    width: 298px;
    height: 384px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .maincard {
    width: 298px;
    height: 384px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .maincard {
    width: 298px;
    height: 384px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .maincard {
    width: 298px;
    height: 384px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .maincard {
    width: 263px;
    height: 350px;
    min-width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  .maincard {
    width: 305px;
    height: 405px;
    min-width: 100%;
  }
}
