<section>
  <div class="maincard">
    <div class="swiper-wrap">
      <swiper class="mySwipe chbtn" [navigation]="true" [pagination]="{dynamicBullets: true}">
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-605371928419351152/original/59af5e61-037e-440c-92b5-429edc8baafe.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-605371928419351152/original/59af5e61-037e-440c-92b5-429edc8baafe.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-26117817/original/41d1cc1b-fa7f-421c-8766-0e8e465bbe5c.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-26117817/original/41d1cc1b-fa7f-421c-8766-0e8e465bbe5c.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-26117817/original/41d1cc1b-fa7f-421c-8766-0e8e465bbe5c.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-26117817/original/41d1cc1b-fa7f-421c-8766-0e8e465bbe5c.jpeg?im_w=720"
            alt=""></ng-template>
      </swiper>
      <div class="likemaindiv">
        <button>
          <img src="../../../assets/img/likehearticon.svg" alt="">
        </button>
      </div>
    </div>
    <div class="cardtextmaindiv">
      <div class="textmain">
        <div class="cardheaddiv">
          <div class="cardheadtext">Pimplad Nasik, india</div>
          <div class="cardsubtext">
            <span>136 kilometres away</span>
            <span>19-26 Oct</span>
          </div>
        </div>
        <div class="pricemain">
          <div>
            <span class="pricetext">₹31,845</span>
            <span class="pricesubtext">&nbsp;night</span>
          </div>
        </div>
      </div>
      <div class="starmaindiv">
        <div>
          <span class="star"><i class='bx bxs-star'></i></span>
          <span class="startext">New</span>
        </div>
      </div>
    </div>
  </div>

</section>
