<section>
  <div class="maincard">
    <div class="swiper-wrap">
      <swiper class="mySwipe chbtn" [navigation]="true" [pagination]="{dynamicBullets: true}">
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/miso/Hosting-605371928419351152/original/59af5e61-037e-440c-92b5-429edc8baafe.jpeg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/e6fe91d1-a0eb-4ede-af0a-cb95d5a829a3.jpg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/5f6bddac-3d43-4cec-9ca8-997520fb6165.jpg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/38d8c0f6-2914-4b62-91cc-cfd4af71d1d0.jpg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/29bb51a9-ad00-450b-a801-c0ba2c221ac4.jpg?im_w=720"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="https://a0.muscache.com/im/pictures/f5ceadbd-a34f-47d1-913f-7087a2c34398.jpg?im_w=720"
            alt=""></ng-template>
            <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
              src="https://a0.muscache.com/im/pictures/a2a9aeeb-f9c2-4127-86bb-936138e22fb7.jpg?im_w=720"
              alt=""></ng-template>
              <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
                src="https://a0.muscache.com/im/pictures/d2b6be35-0b3f-47d6-b6a8-e9d9a44f62e9.jpg?im_w=720"
                alt=""></ng-template>
      </swiper>
    </div>
    <div class="cardtextmaindiv">
      <div class="textmain">
        <div class="cardheaddiv">
          <div class="cardheadtext">Pimplad Nasik, india</div>
          <div class="cardsubtext">
            <span>136 kilometres away</span>
            <span>19-26 Oct</span>
          </div>
        </div>
        <div class="pricemain">
          <div>
            <span class="pricetext">₹31,845</span>
            <span class="pricesubtext">&nbsp;night</span>
          </div>
        </div>
      </div>
      <div class="starmaindiv">
        <div>
          <span class="star"><i class='bx bxs-star'></i></span>
          <span class="startext">New</span>
        </div>
      </div>
    </div>
  </div>

</section>
