<section>
  <div class="maincard">
    <div class="swiper-wrap">
      <swiper class="mySwipe chbtn" [navigation]="true" [pagination]="{dynamicBullets: true}">
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/1.jpg"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/2.jpg"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/3.jpg"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/4.jpg"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/5.jpg"
            alt=""></ng-template>
        <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
            src="../../../assets/img/hotelpage/hotelimg/6.jpg"
            alt=""></ng-template>
            <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
              src="../../../assets/img/hotelpage/hotelimg/7.jpg"
              alt=""></ng-template>
              <ng-template class="sliderimgmain" swiperSlide><img class="sliderimg" width="100%"
                src="../../../assets/img/hotelpage/hotelimg/1.jpg"
                alt=""></ng-template>
      </swiper>
    </div>
    <div class="cardtextmaindiv">
      <div class="textmain">
        <div class="cardheaddiv">
          <div class="cardheadtext">Pimplad Nasik, india</div>
          <div class="cardsubtext">
            <span>136 kilometres away</span>
            <span>19-26 Oct</span>
          </div>
        </div>
        <div class="pricemain">
          <div>
            <span class="pricetext">₹31,845</span>
            <span class="pricesubtext">&nbsp;night</span>
          </div>
        </div>
      </div>
      <div class="starmaindiv">
        <div>
          <span class="star"><i class='bx bxs-star'></i></span>
          <span class="startext">New</span>
        </div>
      </div>
    </div>
  </div>

</section>
