<section>
  <div class="main">
    <div class="footerlistmaindiv">
      <div>
        <h3>Support</h3>
      </div>
      <ul>
        <li><a href="">Help Centre</a></li>
        <li><a href="">AirCover</a></li>
        <li><a href="">Safety information</a></li>
        <li><a href="">Cancellation options</a></li>
        <li><a href="">Our COVID-19 Response</a></li>
      </ul>
    </div>
    <div class="footerlistmaindiv">
      <div>
        <h3>Community</h3>
      </div>
      <ul>
        <li><a href="">Help Centre</a></li>
        <li><a href="">AirCover</a></li>
        <li><a href="">Safety information</a></li>
      </ul>
    </div>
    <div class="footerlistmaindiv">
      <div>
        <h3>Hosting</h3>
      </div>
      <ul>
        <li><a href="">Help Centre</a></li>
        <li><a href="">AirCover</a></li>
        <li><a href="">Safety information</a></li>
        <li><a href="">Cancellation options</a></li>
        <li><a href="">Our COVID-19 Response</a></li>
      </ul>
    </div>
    <div class="footerlistmaindiv">
      <div>
        <h3>airbnb</h3>
      </div>
      <ul>
        <li><a href="">Newsroom</a></li>
        <li><a href="">AirCover</a></li>
        <li><a href="">Safety information</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Investors</a></li>
      </ul>
    </div>
  </div>
  <div class="copymaindiv">
    <div class="copydiv">
      <div>
        <div class="copyre">© 2022 Airbnb, Inc.</div>
        <div class="links">
          <span><span>·</span></span>
          <a href="">Privacy</a>
          <span>·</span>
          <a href="">Terms</a>
          <span>·</span>
          <a href="">Sitemap</a>
          <span>·</span>
          <a href="">Company details</a>
        </div>
      </div>
    </div>
    <div class="socailmaindiv">
      <div class="lanrup">
        <div class="lanmaindiv">
          <span>
            <button>
              <span class="socalimg"><img src="../../../assets/img/globicon.svg" alt=""></span>
              <span>English (IN)</span>
            </button>
          </span>
        </div>
        <div class="ruppemaindiv">
          <span>
            <button>
              <span>₹</span>
              <span>INR</span>
            </button>
          </span>
        </div>
      </div>
      <div class="socalidiv">
        <ul>
          <li><i class='bx bxl-facebook'></i></li>
          <li><i class='bx bxl-twitter'></i></li>
          <li><i class='bx bxl-instagram'></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
