<section>
  <app-navbar></app-navbar>
</section>
<section id="overlayid">
  <section class="hotalcardlistsectionhome">
    <div id="overlay" (click)="hoff()">
      <section class="subnavbarsection" style="overflow: auto;">
        <div class="subnabbardiv">
          <app-subnavbar></app-subnavbar>
        </div>
        <section class="pt-4" data-aos="fade-up" data-aos-duration="1000">
          <app-hotalcardlist></app-hotalcardlist>
        </section>
      </section>
    </div>
  </section>
</section>
<section class="appfilterpopsection" id="filterpopupfun">
  <app-filterpop></app-filterpop>
</section>
<section class="footer">
  <app-homefooter class="homefooter"></app-homefooter>
  <app-phhomefooter class="phhomefooter"></app-phhomefooter>
</section>
<section>
  <div class="mapshowbuttonmaindiv">
    <button>
      <span>
        <span>Show map</span>
        <div><img src="../../../assets/img/mapicon.svg" alt=""></div>
      </span>
    </button>
  </div>
</section>
