<div class="maindiv">
  <div class="fullboxmaindiv">
    <div class="fullboxdiv">
      <div class="boxmiandiv">
        <div class="box">
          <div class="imgmiandiv">
            <div class="imgdiv">
              <div>
                <img src="../../../../assets/img/host/addhostimgtest.jpg" alt="" />
              </div>
            </div>
          </div>
          <h1>Name</h1>
          <div class="hosterdetmaindiv">
            <div class="hostertext">
              <h2>Shared room in serviced apartment hosted by Shibin</h2>
            </div>
            <div class="hosterimgdiv">
              <div>
                <img src="../../../../assets/img/host/hosterprofilimg.png" alt="" />
              </div>
            </div>
          </div>
          <div class="roomsmaindiv">
            4 guests
            <span> · </span>
            1 bedroom
            <span> · </span>
            1 bed
            <span> · </span>
            1 shared bathroom
          </div>
          <div class="discrtion">
            You'll have a great time at this comfortable place to stay.
          </div>
          <div class="loctionmiandiv">
            <h2>Location</h2>
            <h3>
              <span>Karuvambaram, Manjeri, Malappuram, SH-71, Calicut Nilambur
                Road, Malappuram, Karuvambram, Malappuram, Kerala 676121,
                भारत</span>
            </h3>
            <div>
              <span class="linkspan">
                We’ll only share your address with guests who are booked as
                outlined in our
                <span> <a href="">Privacy Policy</a> </span>
                .
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
