.sighpopup{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: -webkit-fill-available;
  z-index: 5;
  background:transparent;
  top: 15px;
}
.miandiv{
  max-width: 565px;
  border-radius:12px ;
  height: 650px;
  box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
  overflow-y: auto;
}
header {
  padding: 15px 24px 0 24px;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--white);
  border-bottom: 1px solid rgb(235, 235, 235);
  .closebtnandheadingdiv {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      border: none;
      border-radius: 50%;
      padding: 2.5px;
      height: 25px;
      width: 25px;
      transition: all 0.3s ease;
      i {
        font-size: 20px;
      }
      &:hover {
        background: var(--icon-bacground);
      }
    }
    h1 {
      font-size:1rem;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
.inputmiansection{
  background: var(--white);
  padding: 15px 24px 25px 24px;

  .welcometextdiv{
    h3{
    font-size: 22px ;
    line-height: 26px ;
    color: rgb(34, 34, 34) ;
    font-weight: 600 ;
    margin-bottom: 8px ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
  }
  .inputmiandiv{
    .inpbox{
      border: .5px solid black;
      border-radius: 12px;
      .selectmiandiv{
        padding: .5rem 1rem;
        border-bottom: .5px solid black;
        label{
          width: 100%;
          .selectheadtext{
            color: rgb(113, 113, 113);
            font-size: var(--subtext);
            line-height: 20px;
            font-weight: 400;
          }
          .selectdiv{
            select{
              border:none;
              outline: none;
              width: 100%;
            }
          }
        }
      }
      .phoneinputdiv{
        padding: .5rem 1rem;
        height: 60px;
        display: flex;
        align-items: center;
        label{
          width: 100%;
        }
        .phonetext{
          color: rgb(113, 113, 113);
          font-size: var(--text-size);
          line-height: 20px;
          font-weight: 400;
        }
        .numberinpdiv{
          display: none;
          input{
            width: 100%;
            border: none;
            outline: none;
          }
        }
      }
    }
    .continuebtndiv{
      button{
        background:var(--linear-background);
        color:var(--white);
        font-size:var(--text-size);
        line-height: 20px;
        font-weight: 500;
        border-radius: 8px;
        padding: 14px 24px;
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

.phoneinputdivactive{
  display: block !important;
  .phonetextactive{
    font-size:var(--subtext) !important ;
  }
}
.or{
  display: flex;
  align-items: center;
  margin: 16px 0px !important;
  color: var(--light-color);
  &::before{
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-right: 16px !important;
  }
  &::after{
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background-color: rgb(221, 221, 221) !important;
    margin-left: 16px !important;
  }
}
.autologinmaindiv{
  .autologdiv{
    border: 1px solid var(--text-color);
    padding: 13px 23px;
    border-radius: 8px;
    display: flex !important;
    align-items: center !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    transition: all 0.3s ease;
    &:hover{
      background-color: var(--hover-background);
    }
    .iconimagediv{
      height: 25px; width: 25px;
      img{
width: 100%;
      }
    }
    .autologintext{
      display: flex;
      width: 100%;
      justify-content: center;
      letter-spacing: .5px;
      font-size: 14px;
      font-weight: 500;
      align-items: center;
    }
  }
}
