<section>
  <div class="main">
    <div class="placehostmaindiv">
      <div class="placehostdiv">
        <div class="formonecardmaindiv">
          <button id="tesd1">
            <div class="cardtext">
              <h2>Flat</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/1.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button id="tesd2">
            <div class="cardtext">
              <h2>House</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/2.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button id="tesd3">
            <div class="cardtext">
              <h2>Secondary unitt</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/3.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button id="tesd4">
            <div class="cardtext">
              <h2>Unique space</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/4.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button id="tesd5">
            <div class="cardtext">
              <h2>Bed and breakfast</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/5.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
        <div class="formonecardmaindiv">
          <button id="tesd6">
            <div class="cardtext">
              <h2>Boutique hotel</h2>
            </div>
            <div class="cardimgdiv">
              <div>
                <img src="../../../../assets/img/host/host 1/6.webp" alt="" />
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
