/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --text-color: #222222;
  --logo-color: #ff385c;
  --light-color: #717171;
  --light-background: #dddddd;
  --linear-background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  --white: #fff;
  --black: #000;
  --hover-background: #f7f7f7;
  --borderlight-color:rgb(221, 221, 221);
  --hover-boxshadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  --text-size: 16px;
  --subtext: 13px;
  --sublineheight: 16px;
  --lineheight: 18px;
  --icon-bacground: #ebebeb;
  --hoverup: #dddddd;
  --filter-column_number: 2;
  --filter-column_numbersub: 1;

}
* {
  font-family: "Roboto", sans-serif;
}
