a {
  text-decoration: none;
}

.navsection {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbarmaindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logodiv {
    color: var(--logo-color);
    width: 115px;
    .sublogo {
      display: none;
    }
    .logo {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  .buttonmaindiv {
    border: 1px solid var(--light-background);
    border-radius: 40px;
    width: fit-content;
    padding: 5px 0px 5px 15px;
    height: fit-content;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    transform: scale(1);
    animation-duration: 0.5s;
    transform: translateY(0px);
    animation-name: nav;
    &:hover {
      box-shadow: var(--hover-boxshadow);
    }
    .butdiv {
      display: flex;
      button {
        border: none;
        background: none;
        font-size: var(--text-size);
        line-height: var(line-height);
        font-weight: 400;
        padding: 0px 10px;
      }
      .line {
        background-color: var(--light-background);
        height: 30px;
        width: 1px;
      }
      .serachbutmain {
        color: var(--light-color);
        align-items: center;
        display: flex;
        font-weight: 300;
        .searchspan {
          background-color: var(--logo-color);
          color: var(--white);
          border-radius: 50%;
          padding: 10px;
          height: 32px;
          width: 32px;
          margin-left: 10px;
          img {
            display: block;
            fill: none;
            stroke: currentcolor;
            stroke-width: 5.33333;
            overflow: visible;
          }
        }
      }
    }
  }
  @keyframes nav {
    from {
      transform: translateY(60px);
      transform: scale(0);
    }
    to {
      transform: translateY(0px);
      transform: scale(1);
    }
  }
  .usermaindiv {
    display: flex;
    align-items: center;
    .hostdiv {
      font-size: var(--text-size);
      line-height: var(line-height);
      font-weight: 500;
      height: fit-content;
      padding: 12px;
      border-radius: 22px;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--hover-background);
      }
      a {
        color: var(--text-color);
      }
    }
    .landiv {
      height: fit-content;
      padding: 12px;
      border-radius: 22px;
      transition: all 0.3s ease;
      img {
        display: block;
        height: 16px;
        width: 16px;
        fill: currentcolor;
      }
      &:hover {
        background-color: var(--hover-background);
      }
    }
    .userdiv {
      button {
        display: flex;
        background: none;
        border: none;
        padding: 5px 5px 5px 10px;
        height: fit-content;
        border: 1px solid var(--light-background);
        border-radius: 21px;
        margin: 0;
        align-items: center;
        vertical-align: middle;
        transition: all 0.3s;
        &:hover {
          box-shadow: var(--hover-boxshadow);
        }
      }
      .usericon {
        margin-left: 12px;
        height: 30px;
        position: relative;
        width: 30px;
        z-index: 1;
        img {
          display: block;
          fill: currentcolor;
        }
      }
      .menuicon {
        display: block;
        fill: none;
        height: 16px;
        width: 16px;
        stroke: currentcolor;
        stroke-width: 3;
        overflow: visible;
      }
    }
  }
}
.submaindiv {
  position: absolute;
  top: 70px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px 0 5px 0;
  height: 220px;
  z-index: 3;
  div {
    font-weight: 400;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 5px 75px 5px 25px;
        &:hover {
          background: var(--hover-background);
        }
        a {
          color: var(--light-color);
        }
      }
    }
  }
  .sigdrdiv {
    border-bottom: 1px solid var(--icon-bacground);
  }
  .signlinka {
    color: var(--black) !important;
  }
}
/* sub navbar start*/
.subnavbarmaindiv {
  display: none;
  .subnavdiv {
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 100px;
    padding: 10px 5px 10px 20px;
    display: flex;
    justify-content: space-between;
    .firstsection {
      display: flex;
      .logodiv {
        align-self: center;
        img {
          display: block;
          height: 16px;
          width: 16px;
        }
      }
      .textmaindiv {
        .headtext {
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;
          color: var(--text-color);
        }
        .submaintext {
          display: flex;
          font-size: 12px;
          line-height: 16px;
          color: var(--light-color);
          min-width: 0;
          .textcon {
            display: flex;
            min-width: 50px;
            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .flitermaindiv {
      border: 1px solid var(--light-background);
      border-radius: 25px;
      margin: 0 10px;
      align-items: center;
      display: flex;
      height: 36px;
      justify-content: center;
      width: 36px;
      .fliterimgdiv {
        img {
          display: block;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
/* end */
/* sub btn start */
.subbuttonmiandiv {
  display: none;
  animation-duration: 0.5s;
  animation-name: subnav;

  .subbtn {
    transform: scale(1);
    button {
      background: none;
      border: none;
      color: var(--text-color);
      font-size: var(--text-size);
      line-height: var(--lineheight);
      font-weight: 400;
      margin-left: 15px;
      transition: all 0.2s ease;
      div {
        &::after {
          content: "";
          height: 2px;
          position: absolute;
          top: calc(100% + 8px);
          width: 100%;
          background-color: var(--black);
          inset-inline: 0;
          opacity: 1;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }
      }
      &:hover {
        color: var(--light-color);
        div {
          &::after {
            transform: scaleX(1);
            opacity: 0.65;
          }
        }
      }
    }
    div {
      width: fit-content;
      position: relative;
    }
    .subactivebtn {
      color: var(--text-color);
      &::after {
        content: "";
        height: 2px;
        position: absolute;
        top: calc(100% + 8px);
        width: 100%;
        transition: transform 0.2s ease;
        background-color: var(--black);
        inset-inline: 0;
        transform: scaleX(1) !important;
        opacity: 1 !important;
      }
    }
  }
}
@keyframes subnav {
  from {
    transform: translateY(-70px);
    transform: scale(0);
  }
  to {
    transform: translateY(0px);
    transform: scale(1);
  }
}
/* end*/
/* map section start */

.dropcolmaindiv {
  display: none;
  transform: scale(1);
  animation-duration: 0.5s;
  animation-name: dropdownnavani;
}
@keyframes dropdownnavani {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.mapmaindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--light-background);
  border-radius: 40px;
  height: 60px;
  .wherediv {
    width: 100%;
    cursor: pointer;
    display: flex;
    &:hover {
       .line {
        display: none !important;
      }
      ::after {
        background-color: var(--icon-bacground);
        border: 1px solid transparent;
        border-radius: 32px;
        left: 0px;
        right: 0px;
        bottom: -11px;
        content: "";
        position: absolute;
        top: -11px;
        z-index: -1;
      }
    }
    input {
      outline: none;
      border: none;
      background: transparent;
      width: 80%;
    }
  }
  .clearicondiv {
    z-index: 2;
    margin-right: 15px;
    button {
      background: var(--icon-bacground);
      border: none;
      border-radius: 50%;
      padding: 2.5px;
      height: 25px;
      width: 25px;
      i {
        font-size: 20px;
      }
    }
  }
  .checkindiv {
    z-index: 2;
    cursor: pointer;
    &:hover {
      + .line {
        display: none !important;
      }
      ::after {
        background-color: var(--hoverup);
        border: 1px solid transparent;
        border-radius: 32px;
        left: 0px;
        right: 0px;
        bottom: -11px;
        content: "";
        position: absolute;
        top: -11px;
        z-index: -1;
      }
    }
  }
  .checkoutdiv {
    z-index: 2;
    cursor: pointer;
    &:hover {
      + .line {
        display: none !important;
      }
      ::after {
        background-color: var(--hoverup);
        border: 1px solid transparent;
        border-radius: 32px;
        left: 0px;
        right: 0px;
        bottom: -11px;
        content: "";
        position: absolute;
        top: -11px;
        z-index: -1;
      }
    }
  }
  .line {
    background-color: var(--light-background);
    height: 30px;
    width: 1px;
  }
  .hetext {
    color: var(--text-color);
    font-size: var(--subtext);
    line-height: var(--sublineheight);
    font-weight: 600;
  }
  div {
    color: var(--light-color);
    font-size: 15px;
    line-height: var(--lineheight);
    font-weight: 300;
    align-items: center;
  }
  .whodiv {
    z-index: 2;
    display: flex;
    height: 45px;
    cursor: pointer;
    .whosubdiv {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &:hover {
      ::after {
        background-color: var(--hoverup);
        border: 1px solid transparent;
        border-radius: 32px;
        left: 0px;
        right: 0px;
        bottom: -7px;
        content: "";
        position: absolute;
        top: -7px;
        z-index: -1;
      }
    }
  }
}
.norseardiv {
  margin-right: 7px;
  button {
    background-color: var(--logo-color);
    color: var(--white);
    border-radius: 50%;
    padding: 13px;
    border: none;
    height: 45px;
    width: 45px;
    img {
      display: block;
      fill: none;
      stroke: currentcolor;
      stroke-width: 5.33333;
      overflow: visible;
    }
  }
}
.seadivmain {
  position: absolute;
  right: 5px;
  top: 0px;
}
.seadiv {
  display: flex;
  background: var(--linear-background);
  padding: 13px 15px 13px 10px;
  border-radius: 24px;
  span {
    height: 16px;
    width: 16px;
    img {
      width: 100%;
    }
  }
  div {
    color: var(--white);
    font-size: var(--text-size);
    font-weight: 500;
    line-height: var(--sublineheight);
  }
}
.active {
  &:hover {
    ::after {
      background-color: var(--white) !important;
      border: 1px solid #fff;
      border-radius: 32px;
      left: 0px;
      right: 0px !important;
      bottom: -12px !important;
      content: "";
      position: absolute;
      top: -12px !important;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      z-index: -1 !important;
    }
  }
  ::after {
    background-color: var(--white) !important;
    border: 1px solid #fff;
    border-radius: 32px;
    left: 0px;
    right: 0px;
    bottom: -12px;
    content: "";
    position: absolute;
    top: -12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: -1;
  }
}
/* end */
/* map start */
.mapshowmaindiv {
  background: var(--white);
  top: 90px;
  position: absolute;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  z-index: 5;
  border-radius: 32px;
  padding: 16px 32px;
  .mapimgmain {
    grid-column-gap: 5px;
    column-gap: 15px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, min-content);
    grid-row-gap: 24px;
    row-gap: 24px;
    .mapcard {
      height: 158px;
      width: 132px;
      .mapimg {
        border: 1px solid rgb(221, 221, 221);
        outline: none;
        border-radius: 12px;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        &:hover {
          border: 1px solid var(--black);
        }
        img {
          width: 100%;
        }
      }
      div {
        font-size: 14px;
        line-height: var(--lineheight);
        color: var(--text-color);
      }
    }
  }
}
/* end */
/* add guest */
.addguestsmaindiv {
  position: absolute;
  background: var(--white);
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 12px;
  padding: 20px 32px;
  right: 5px;
  .petdiv {
    border: none !important;
  }
  .subaddguest {
    display: flex;
    min-width: 330px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 235, 235);
    align-items: center;
    .headtextdiv {
      h6 {
        font-size: var(--text-size);
        line-height: 20px;
        font-weight: 600;
        // padding-bottom: 6px;
      }
      p {
        color: var(--light-color);
        font-weight: 300;
        line-height: var(--lineheight);
        font-size: 14px;
        a {
          color: rgb(113, 113, 113);
          font-weight: 400;
          text-decoration: underline;
        }
      }
    }
    .btnmaindiv {
      display: inline-flex;
      align-items: center;
      width: 104px !important;
      height: 32px !important;
      justify-content: space-between;
      button {
        border: 1px solid rgb(176, 176, 176);
        width: 32px;
        height: 32px;
        outline: none;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
          height: 35px;
          width: 22px;
          padding: 4px;
        }
      }
    }
  }
}
.zero {
  opacity: 0.5;
  cursor: no-drop;
}
/* end */
/* calendar start */
.maincalendtordiv {
  .headbunmaindiv {
    max-width: 400px !important;
    min-width: 300px !important;
    background-color: rgb(235, 235, 235);
    border-radius: 100px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      background: transparent;
      color: var(--black);
      font-size: 14px;
      font-weight: 500;
      line-height: var(--lineheight);
      padding: 8px 12px;
      margin-top: 4px;
      margin-bottom: 4px;
      border-radius: 100px;
      width: 150px;
      &:hover {
        background-color: var(--white);
      }
    }
  }
  .headbtnacive {
    background: var(--white) !important;
  }
}
/* end */
@media only screen and (max-width: 600px) {
  .subnavbarmaindiv {
    display: block;
  }
  .navbarmaindiv {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .logodiv {
    width: auto !important;
  }
  .logo {
    display: none !important;
  }
  .sublogo {
    display: block !important;
  }
  .subnavbarmaindiv {
    display: block;
  }
  .navbarmaindiv {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .logodiv {
    width: auto !important;
  }
  .logo {
    display: none !important;
  }
  .sublogo {
    display: block !important;
  }
  .subnavbarmaindiv {
    display: none;
  }
  .navbarmaindiv {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .logo {
    display: none !important;
  }
  .sublogo {
    display: block !important;
  }
}
@media only screen and (min-width: 1200px) {
  .logo {
    display: block !important;
  }
  .sublogo {
    display: none !important;
  }
}
