<section class="navsection" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="navbarmaindiv">
          <div class="col-1 col-lg-3  col-xl-3 d-flex justify-content-start">
            <div class="logodiv">
              <img width="102" height="32" class="logo" src="../../../assets/img/logo.svg" alt="">
              <img src="../../../assets/img/sublogo.svg" width="30" height="32" class="sublogo" alt="">
            </div>
          </div>
          <div class="col-6 col-lg-5 col-xl-6 d-flex justify-content-center" >
            <div class="buttonmaindiv" id="navbar">
              <div class="butdiv">
                <button type="button" (click)="showsubnavbar('where')">
                  <div>Anywhere</div>
                </button>
                <span class="line"></span>
                <button (click)="showsubnavbar('week')">
                  <div>Any week</div>
                </button>
                <span class="line"></span>
                <button class="serachbutmain" (click)="showsubnavbar('who')">
                  <div>Add guests</div>
                  <div class="searchspan">
                    <img src="../../../assets/img/searchicon.svg" alt="">
                  </div>
                </button>
              </div>
            </div>
            <div class="subbuttonmiandiv" id="subnav">
              <div class="subbtn">
                <button>
                  <div class="subactivebtn"><span>Stays</span></div>
                </button>
                <button>
                  <div><span>Experiences</span></div>
                </button>
                <button>
                  <div><span>Online Experiences</span></div>
                </button>
              </div>
            </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-3 d-flex justify-content-end">
            <div class="usermaindiv">
              <div class="hostdiv">
                <a href="">Become a host</a>
              </div>
              <div class="landiv me-2">
                <img src="../../../assets/img/globicon.svg" alt="">
              </div>
              <div class="userdiv" (click)="showsubuser()">
                <button>
                  <div>
                    <img src="../../../assets/img/menuicon.svg" alt="" class="menuicon">
                  </div>
                  <div class="usericon">
                    <img src="../../../assets/img/usericon.svg">
                  </div>
                </button>
              </div>
            </div>
            <div class="submaindiv" *ngIf="this.subusershow">
              <div class="sigdrdiv">
                <ul>
                  <li><a class="signlinka" href="">Sign up</a></li>
                  <li><a href="">Log in</a></li>
                </ul>
              </div>
              <div class="pt-2">
                <ul>
                  <li><a href="">Host your home</a></li>
                  <li class="mt-1"><a href="">Host an experience</a></li>
                  <li class="mt-1"><a href="">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="subnavbarmaindiv">
          <div class="subnavdiv">
            <div class="firstsection">
              <div class="logodiv">
                <img src="../../../assets/img/drakseachicon.svg" alt="">
              </div>
              <div class="textmaindiv ms-3">
                <div class="headtext">
                  <span>Where to?</span>
                </div>
                <div class="submaintext">
                  <div class="textcon"><span>Anywhere</span></div>
                  <div class="mx-1 dot">•</div>
                  <div class="textcon"><span>Any week</span></div>
                  <div class="mx-1 dot">•</div>
                  <div class="textcon"><span>Add guests</span></div>
                </div>
              </div>
            </div>
            <div class="flitermaindiv">
              <div class="fliterimgdiv">
                <img src="../../../assets//img/fliter.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-11 col-xl-8 dropcolmaindiv" id="test" data-aos="zoom-in"
        data-aos-duration="3000">
        <section class="d-flex justify-content-center mt-3">
          <div class="mapmaindiv" id="mapmaindiv">
            <div class="col-4 d-flex justify-content-between position-relative" (click)="activefun('where')" >
              <div class="wherediv" id="wherediv">
                <div class="w-100 ms-4" style="z-index: 2;">
                  <div class="hetext">Where</div>
                  <input type="text" placeholder="Search destinations">
                </div>
                <div class="clearicondiv">
                  <button>
                    <i class='bx bx-x'></i>
                  </button>
                </div>
              </div>
              <div class="line" id="line1"></div>
            </div>
            <div class="col-2 d-flex justify-content-between position-relative" >
              <div class="checkindiv" id="checkindiv"  (mouseover)='over(2)' (mouseout)='out(2)' (click)="activefun('checkin')" >
                <div class="w-100 ms-4" style="z-index: 2;">
                <div class="hetext">Check in</div>
                <div>Add dates</div>
                </div>
              </div>
              <div class="line" id="line2"></div>
            </div>
            <div class="col-2 d-flex justify-content-between position-relative">
              <div class="checkoutdiv" id="checkoutdiv" (mouseover)='over(3)' (mouseout)='out(3)' (click)="activefun('checkout')" >
                <div class="ms-4">
                <div class="hetext">Check out</div>
                <div>Add dates</div>
              </div>
              </div>
              <div class="line" id="line3"></div>
            </div>
            <div class="col-4 d-flex justify-content-between position-relative">
              <div class="whodiv" id="whodiv" (mouseover)='over(4)' (mouseout)='out(4)' (click)="activefun('who')" >
                <div class="ms-4">
                <div class="hetext">Who</div>
                <div>Add guests</div>
              </div>
              </div>
              <div style="z-index: 2;" >
                <div class="norseardiv" *ngIf="!this.searchiconshow">
                  <button>
                    <div>
                      <img src="../../../assets/img/subseach.svg" alt="">
                    </div>
                  </button>
                </div>
                <div class="seadivmain" *ngIf="this.searchiconshow" >
                  <div class="seadiv">
                    <span class="mx-2">
                      <img src="../../../assets/img/searchicon.svg" alt="">
                    </span>
                    <div>Search</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
