<section class="navsection ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="navbarmaindiv" >
          <div class="logodiv">
            <img width="102" height="32" class="logo" src="../../../assets/img/logo.svg" alt="">
            <img src="../../../assets/img/sublogo.svg" width="30" height="32" class="sublogo" alt="">
          </div>
          <div class="buttonmaindiv">
            <div class="butdiv">
              <button>
                <div>Anywhere</div>
              </button>
              <span class="line"></span>
              <button>
                <div>Any week</div>
              </button>
              <span class="line"></span>
              <button class="serachbutmain">
                <div>Add guests</div>
                <div class="searchspan">

                  <img src="../../../assets/img/searchicon.svg" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333; overflow: visible;" alt="">
                </div>
              </button>
            </div>
          </div>
          <div class="usermaindiv">
            <div class="hostdiv">
              <a href="">Become a host</a>
            </div>
            <div class="landiv me-2">
              <img src="../../../assets/img/globicon.svg" alt=""  style="display: block; height: 16px; width: 16px; fill: currentcolor">
            </div>
            <div class="userdiv">
              <button>
                <div>
                  <img src="../../../assets/img/menuicon.svg" alt=""  style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                </div>
                <div class="usericon">
                  <img style="display: block; height: 100%; width: 100%; fill: currentcolor;" src="../../../assets/img/usericon.svg">
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="subnavbarmaindiv">

        </div>
      </div>
    </div>
  </div>
</section>
