<section class="navsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="navbarmaindiv">
          <div class="col-1 col-lg-3  col-xl-3 d-flex justify-content-start">
            <div class="logodiv">
              <img width="102" height="32" class="logo" src="../../../assets/img/logo.svg" alt="">
              <img src="../../../assets/img/sublogo.svg" width="30" height="32" class="sublogo" alt="">
            </div>
          </div>
          <div class="col-6 col-lg-5 col-xl-6 d-flex justify-content-center">
            <div class="buttonmaindiv" id="navbar" *ngIf="!this.hotelnav.usernav">
              <div class="butdiv" *ngIf="!this.hotelnav.test">
                <button type="button" (click)="showsubnavbar('where')">
                  <div>Anywhere</div>
                </button>
                <span class="line"></span>
                <button (click)="showsubnavbar('week')">
                  <div>Any week</div>
                </button>
                <span class="line"></span>
                <button class="serachbutmain" (click)="showsubnavbar('who')">
                  <div>Add guests</div>
                  <div class="searchspan">
                    <img src="../../../assets/img/searchicon.svg" alt="">
                  </div>
                </button>
              </div>
              <div class="butdiv hotelnav" *ngIf="this.hotelnav.test">
                <button type="button" class="serachbutmain hotelnavbutn" (click)="showsubnavbar('where')">
                  <div>Start your search</div>
                  <div class="searchspan">
                    <img src="../../../assets/img/searchicon.svg" alt="">
                  </div>
                </button>
              </div>
            </div>
            <div class="subbuttonmiandiv" id="subnav">
              <div class="subbtn">
                <button (click)="experienceshow('stays')">
                  <div id="staysid" class="subactivebtn"><span>Stays</span></div>
                </button>
                <button (click)="experienceshow('experience')">
                  <div id="experienceid"><span>Experiences</span></div>
                </button>
                <button>
                  <div><span>Online Experiences</span></div>
                </button>
              </div>
            </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-3 d-flex justify-content-end">
            <div class="usermaindiv">
              <div class="hostdiv">
                <a href="/Hostindroducion">Become a host</a>
              </div>
              <div class="landiv me-2">
                <img src="../../../assets/img/globicon.svg" alt="">
              </div>
              <div class="userdiv" (click)="showsubuser()">
                <button>
                  <div>
                    <img src="../../../assets/img/menuicon.svg" alt="" class="menuicon">
                  </div>
                  <div class="usericon">
                    <img src="../../../assets/img/usericon.svg">
                  </div>
                </button>
              </div>
            </div>
            <div class="submaindiv" *ngIf="this.subusershow">
              <div class="sigdrdiv">
                <ul style="display:none ;">
                  <li (click)="logoingshow()"><a class="signlinka">Sign up</a></li>
                  <li (click)="logoingshow()"><a>Log in</a></li>
                </ul>
                <ul>
                  <li (click)="logoingshow()"><a class="signlinka">Messages</a></li>
                  <li (click)="logoingshow()"><a class="signlinka">Notifications</a></li>
                  <li (click)="logoingshow()"><a class="signlinka">Trips</a></li>
                  <li><a class="signlinka" href="wishlists">Wishlists</a></li>
                </ul>
              </div>
              <div class="pt-2">
                <ul style="display: none;">
                  <li><a href="">Host your home</a></li>
                  <li class="mt-1"><a href="">Host an experience</a></li>
                  <li class="mt-1"><a href="">Help</a></li>
                </ul>
                <ul>
                  <li><a href="">Manage listings</a></li>
                  <li class="mt-1"><a href="">Host an experience</a></li>
                  <li class="mt-1"><a href="user">Account</a></li>
                </ul>
              </div>
              <div class="helpdiv pt-2">
                <ul>
                  <li class="mt-1"><a href="">Help</a></li>
                  <li class="mt-1"><a href="">Log out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="subnavbarmaindiv">
          <div class="subnavdiv">
            <div class="firstsection" (click)="showphnavbar()">
              <div class="logodiv">
                <img src="../../../assets/img/drakseachicon.svg" alt="">
              </div>
              <div class="textmaindiv ms-3">
                <div class="headtext">
                  <span>Where to?</span>
                </div>
                <div class="submaintext">
                  <div class="textcon"><span>Anywhere</span></div>
                  <div class="mx-1 dot">•</div>
                  <div class="textcon"><span>Any week</span></div>
                  <div class="mx-1 dot">•</div>
                  <div class="textcon"><span>Add guests</span></div>
                </div>
              </div>
            </div>
            <div class="flitermaindiv" (click)="showfliter()">
              <div class="fliterimgdiv">
                <img src="../../../assets//img/fliter.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-11 col-xl-8 dropcolmaindiv" id="test" data-aos="zoom-in"
        data-aos-duration="3000">
        <section class="d-flex justify-content-center mt-3">
          <div class="mapmaindiv" id="mapmaindiv">
            <div class="col-4 d-flex justify-content-between position-relative">
              <div class="wherediv" id="wherediv" (click)="activefun('where')">
                <div class="w-100 ms-4" style="z-index: 2;">
                  <div class="hetext">Where</div>
                  <input type="text" placeholder="Search destinations" id="searhinptid"
                    (input)="cleariconshow(search.value)" #search>
                </div>
              </div>
              <div class="clearicondiv" *ngIf="this.clearicon" (click)="activefun('where');clearinputdate()">
                <button>
                  <i class='bx bx-x'></i>
                </button>
              </div>
              <div class="line" id="line1"></div>
            </div>
            <div style="display: contents;" id="checkinout">
              <div class="col-2 d-flex justify-content-between position-relative">
                <div class="checkindiv" id="checkindiv" (mouseover)='over(2)' (mouseout)='out(2)'
                  (click)="activefun('checkin')">
                  <div class="w-100 ms-4" style="z-index: 2;">
                    <div class="hetext">Check in</div>
                    <div>Add dates</div>
                  </div>
                </div>
                <div class="line" id="line2"></div>
              </div>
              <div class="col-2 d-flex justify-content-between position-relative">
                <div class="checkoutdiv" id="checkoutdiv" (mouseover)='over(3)' (mouseout)='out(3)'
                  (click)="activefun('checkout')">
                  <div class="ms-4">
                    <div class="hetext">Check out</div>
                    <div>Add dates</div>
                  </div>
                </div>
                <div class="line" id="line3"></div>
              </div>
            </div>
            <div class="col-4  justify-content-between position-relative experienceshowclass" id="experienceshowid">
              <div class="datediv" id="datediv" (mouseover)='over(5)' (mouseout)='out(5)' (click)="activefun('date')">
                <div class="ms-4">
                  <div class="hetext">Date</div>
                  <div>Add dates</div>
                </div>
              </div>
            </div>
            <div class="col-4 d-flex justify-content-between position-relative">
              <div class="whodiv" id="whodiv" (mouseover)='over(4)' (mouseout)='out(4)' (click)="activefun('who')">
                <div class="ms-4">
                  <div class="hetext">Who</div>
                  <div>Add guests</div>
                </div>
              </div>
              <div style="z-index: 2;" (click)="activefun('who')">
                <div class="norseardiv" *ngIf="!this.searchiconshow">
                  <button>
                    <div>
                      <img src="../../../assets/img/subseach.svg" alt="">
                    </div>
                  </button>
                </div>
                <div class="seadivmain" *ngIf="this.searchiconshow">
                  <div class="seadiv">
                    <span class="mx-2">
                      <img src="../../../assets/img/searchicon.svg" alt="">
                    </span>
                    <div>Search</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="col-7" *ngIf="this.mapshow">
          <div class="mapshowmaindiv">
            <div class="maphead pt-3">
              <h6>Search by region</h6>
            </div>
            <div class="mapimgmain pt-3">
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map1.jpg" alt="">
                </button>
                <div class="mt-2">I'm flexible</div>
              </div>
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map2.jpg" alt="">
                </button>
                <div class="mt-2">Europe</div>
              </div>
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map3.jpg" alt="">
                </button>
                <div class="mt-2">United Kingdom</div>
              </div>
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map4.jpg" alt="">
                </button>
                <div class="mt-2">Southeast Asia</div>
              </div>
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map5.jpg" alt="">
                </button>
                <div class="mt-2">Canada</div>
              </div>
              <div class="mapcard">
                <button class="mapimg">
                  <img src="../../../assets/img/map/map6.jpg" alt="">
                </button>
                <div class="mt-2">United States</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7 float-end" *ngIf="this.guestshow" (click)=" this.menuBtnClick = true;">
          <div class="addguestsmaindiv">
            <div class="subaddguest">
              <div class="headtextdiv">
                <h6>Adults</h6>
                <p>Ages 13 or above</p>
              </div>
              <div class="btnmaindiv">
                <button *ngIf="this.guests.adults !== 0" [disabled]="this.guests.children >= 1"
                  (click)="this.guests.adults = this.guests.adults - 1"><span><img src="../../../assets/img/minus.svg"
                      alt=""></span></button>
                <button class="zero" *ngIf="this.guests.adults == 0" [disabled]="this.guests.adults == 0"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <div><span>{{this.guests.adults}}</span></div>
                <button (click)="this.guests.adults = this.guests.adults + 1"><span><img
                      src="../../../assets/img/plus.svg" alt=""></span></button>
              </div>
            </div>
            <div class="subaddguest mt-3">
              <div class="headtextdiv">
                <h6>Children</h6>
                <p>Ages 2-12</p>
              </div>
              <div class="btnmaindiv">
                <button *ngIf="this.guests.children !== 0"
                  (click)="this.guests.children = this.guests.children - 1"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <button class="zero" *ngIf="this.guests.children == 0" [disabled]="this.guests.children == 0"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <div><span>{{this.guests.children}}</span></div>
                <button (click)="this.guests.children = this.guests.children + 1;addadults()"><span><img
                      src="../../../assets/img/plus.svg" alt=""></span></button>
              </div>
            </div>
            <div class="subaddguest mt-3">
              <div class="headtextdiv">
                <h6>Infants</h6>
                <p>Under 2</p>
              </div>
              <div class="btnmaindiv">
                <button *ngIf="this.guests.infants !== 0"
                  (click)="this.guests.infants = this.guests.infants - 1"><span><img src="../../../assets/img/minus.svg"
                      alt=""></span></button>
                <button class="zero" *ngIf="this.guests.infants == 0" [disabled]="this.guests.infants == 0"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <div><span>{{this.guests.infants}}</span></div>
                <button (click)="this.guests.infants = this.guests.infants + 1;addadults()"><span><img
                      src="../../../assets/img/plus.svg" alt=""></span></button>
              </div>
            </div>
            <div class="subaddguest petdiv mt-3">
              <div class="headtextdiv">
                <h6>Pets</h6>
                <p><a href="">Bringing a service animal?</a></p>
              </div>
              <div class="btnmaindiv">
                <button *ngIf="this.guests.pets !== 0" (click)="this.guests.pets = this.guests.pets - 1"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <button class="zero" *ngIf="this.guests.pets == 0" [disabled]="this.guests.pets == 0"><span><img
                      src="../../../assets/img/minus.svg" alt=""></span></button>
                <div><span>{{this.guests.pets}}</span></div>
                <button (click)="this.guests.pets = this.guests.pets + 1;addadults()"><span><img
                      src="../../../assets/img/plus.svg" alt=""></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center pt-3" *ngIf="this.calendarshow" (click)=" this.menuBtnClick = true;">
          <div class="maincalendtordiv">
            <div class="d-flex justify-content-center">
              <div class="headbunmaindiv">
                <button id="first" class="headbtnacive" type="button" (click)="calendhaedbtnactive('first')">Choose
                  dates</button>
                <button id="last" type="button" (click)="calendhaedbtnactive('last')">I'm flexible</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="navbarloiginsection" *ngIf="this.sam">
  <app-logoinandsighup></app-logoinandsighup>
</section>
<section id="phnavbarpopupsection">
  <app-phnavbarpopup></app-phnavbarpopup>
</section>
