<div class="maindiv">
  <div class="formmaindiv">
    <div class="formdiv">
      <div class="headingdiv">
        <h2>Choose up to 2 highlights</h2>
      </div>
      <div class="buttonmaindiv">
        <div class="buttondiv">
          <button>
            <div class="butcon">
              <div class="con">
                <div class="imgdiv">
                  <img src="../../../../assets/img/host/host9/1.svg" alt="" />
                </div>
                Peaceful
              </div>
            </div>
          </button>
        </div>
        <div class="buttondiv">
          <button>
            <div class="butcon">
              <div class="con">
                <div class="imgdiv">
                  <img src="../../../../assets/img/host/host9/1.svg" alt="" />
                </div>
                Unique
              </div>
            </div>
          </button>
        </div>
        <div class="buttondiv">
          <button>
            <div class="butcon">
              <div class="con">
                <div class="imgdiv">
                  <img src="../../../../assets/img/host/host9/1.svg" alt="" />
                </div>
                Family-friendly
              </div>
            </div>
          </button>
        </div>
        <div class="buttondiv">
          <button>
            <div class="butcon">
              <div class="con">
                <div class="imgdiv">
                  <img src="../../../../assets/img/host/host9/1.svg" alt="" />
                </div>
                Stylish
              </div>
            </div>
          </button>
        </div>
        <div class="buttondiv">
          <button>
            <div class="butcon">
              <div class="con">
                <div class="imgdiv">
                  <img src="../../../../assets/img/host/host9/1.svg" alt="" />
                </div>
                Central
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
